@charset "utf-8";
@import 'foundation';

/* CSS Document */

@font-face {
    font-family: 'Dosis Bold';
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis EBold';
    src: url('../fonts/Dosis-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis SBold';
    src: url('../fonts/Dosis-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis Light';
    src: url('../fonts/Dosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis ELight';
    src: url('../fonts/Dosis-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis Medium';
    src: url('../fonts/Dosis-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis Book';
    src: url('../fonts/Dosis-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: black;
}


/*
 *  STYLING SCROLLBAR
 */

::-webkit-scrollbar,
-moz-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track,
-moz-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb,
-moz-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 1px 1px 6px #333;
    background-color: #666;
}

::-moz-selection {
    /* Code for Firefox */
    background: rgb(88, 255, 63);
    ;
}

::selection {
    background: rgb(88, 255, 63);
    ;
}

.no-padding {
    padding: 0;
}

.row {
    max-width: 100%;
}

ul {
    list-style: none;
}

.center-align {
    text-align: center;
}

#nav {
    list-style: none;
    position: fixed;
    right: 20px;
    z-index: 999999;
    top: 260px;
}


/*------------Login Modal-------------*/

.login-mod-left {
    background: #3897d3 url('../images/login-left.png') no-repeat;
    height: 400px;
    background-size: 350px 400px;
    padding: 20px 28px;
    border-radius: 5px 0px 0px 5px;
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.44);
}

.login-mod-right {
    background: #3086bc;
    height: 400px;
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
}

.left-mod-header {
    font-size: 34px;
    color: #FFFFFF;
    font-family: 'Dosis SBold';
    line-height: 1em;
}

.close-mod-btn {
    color: #55a6d9 !important;
    background: #FFFFFF !important;
    padding-top: 2px !important;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    right: -15px;
    top: -15px;
    position: absolute;
    opacity: 1;
    outline: none;
    z-index: 4;
}

.forgot-pass {
    color: #a8c8db;
    font-size: 14px;
    font-family: 'Dosis Medium';
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}

.login-tab {
    color: #a8c8db;
    font-size: 22px;
    font-family: 'Dosis Medium';
    text-transform: uppercase;
    cursor: pointer;
}

.group1 {
    position: relative;
    margin: 40px 10px 30px;
}

.group2 {
    position: relative;
    margin: 10px;
}

.tab-clicked-modal {
    text-decoration: none;
    border-radius: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent !important;
    font-size: 22px;
    font-family: 'Dosis Medium';
    text-transform: uppercase;
    cursor: pointer;
    width: 150px;
}

.input-login {
    background: #3086bc !important;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Dosis Book';
    border-bottom: 1px solid #FFFFFF;
}

.login-modal-btn {
    background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 22px;
    width: 200px;
    padding: 3px 0px;
    box-shadow: 0px 1px 1px 0px #333333;
    margin-top: 45px;
    cursor: pointer;
}

.register-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
}

#nav li {
    margin: 0 0 15px 0;
}

.pmc-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
    cursor: pointer;
}

.switch-site {
    width: 230px;
    position: fixed;
    z-index: 10;
    top: 125px;
    padding: 10px;
    background: #3897d3;
    border-radius: 0px 20px 20px 0px;
    border-top: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 20px;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.76);
}

.switch-site:hover {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.5), 0 6px 8px rgba(0, 0, 0, 0.26);
}

.switch-select {
    margin-left: 5px;
}


/*------------header-Section-----------*/

.header-ul {
    display: block;
    margin: 0;
    width: 100%;
}

.header-li {
    float: left;
}

.logo-li {
    position: relative;
    left: 0%;
}

.request-header {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    z-index: 99999;
}

.header-logo {
    height: 110px;
    width: 300px;
}

.mid-header {
    top: 15%;
    right: 250px;
    position: absolute;
}

.line-mid {
    border-right: #3897d3 solid 1px;
}

.left-header {
    top: 23%;
    right: 50px;
    position: absolute;
    padding: 5px;
    min-width: 115px;
    border: 1px solid #3897d3;
    cursor: pointer;
}

.left-header-scroll {
    top: 23%;
    right: 50px;
    position: absolute;
    padding: 5px;
    border: 1px solid #3897d3;
    cursor: pointer;
}

.left-header-home {
    top: 23%;
    right: 50px;
    position: absolute;
    padding: 5px;
    border: 1px solid #3897d3;
    cursor: pointer;
}
.login-dash{
    padding: 4px 0px;
    border: 1px solid #3897d3;
    width: 190px;
    cursor: pointer;
    margin-top: 9px;
    float: right;
}
.mid-left {
        font-family: 'Dosis Book';
    color: #3897d3;
    float: left;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    line-height: 1em;
    margin-top: 19px;
}
.head-ul-float{
    float: right;
}
.mid-right {
    top: 5%;
    font-family: 'Dosis Book';
    color: #3897d3;
    float: left;
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    margin: 0;
}

.login-drop {
    padding: 0rem;
    margin: 0rem;
    border: none;
    font-size: 20px;
    font-family: 'Dosis Book';
    line-height: normal;
    color: #3897d3;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 25px 10px;
    background-position: right 0rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    outline: none;
    width: 140px;
}

.dash-subheader{
    background: #def2fe;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}
.dash-ver-line{
    border-right: 1px solid #b6dcf2;
    float: left;
    padding-left: 17px;
    padding-right: 18px;
}
.ver-line-selected {
    background: #3897d3;
    color: #FFFFFF;
}
.subhead-ul{
    display: inline-block;
    margin: 0;
    padding: 5px 0px;
}
.subhead-li{
    float: left;
}
.subhead-text{
    padding-bottom: 2px;
    font-size: 18px;
    padding-left: 5px;
    font-family: 'Dosis Book';
    padding-top: 3px;
    color: #3897d3;
}
.dash-liner{
     border-right: 1px solid #b6dcf2;
}
.subhead-right{
    border-right: 1px solid #b6dcf2;
    background: #d3eaf7;
}
.subhead-right{
    background: #d3eaf7;
    cursor: pointer;
}

.subhead-textr{
   font-size: 18px;
    padding-left: 5px;
    font-family: 'Dosis Book';
    padding-top: 9px;
    padding-bottom: 11px;
    color: #e54d39;
}
.next-margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

.next-btn {
    background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding: 5px 60px 5px 60px;
    box-shadow: 0px 1px 1px 0px #333333;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    cursor: pointer;
}

.next-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
}

.header-menu {
    padding: 15px 30px;
    background: #FFFFFF;
}

.tucked-menu {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    position: fixed;
    left: 0;
    right: 0;
    top: -155px;
    z-index: 99;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.tucked-menu-show {
    top: 0;
    padding: 5px 20px;
    border-width: 0 0 1px 0;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.tucked-menu-header {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 99999;
}

.order-header-ul {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}

.order-header-li {
    position: relative;
    left: 13%;
}

.order-header-btn {
    z-index: 2;
    padding-top: 1.4em;
}

.order-or-header {
    color: #e54d39;
    font-family: 'Dosis Book';
    font-size: 22px;
    padding: 0px 10px;
}

.pmc-banner {
    width: 100%;
}

.pmc-logo {
    top: 170px;
    left: 8%;
    position: absolute;
}

.left-header-contact {
    top: 5%;
    right: 250px;
    position: absolute;
    line-height: 1.4em;
}

.login-left-post {
    top: 4%;
    right: 50px;
    position: absolute;
    padding: 0px;
    border: 1px solid #FFFFFF;
    width: 190px;
    cursor: pointer;
}

.login-left-pre {
    top: 3%;
    right: 65px;
    position: absolute;
    padding: 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}

.caret-custom {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -5px;
    margin-left: 55px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.login-primary {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Dosis Book';
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-primary-header {
    color: #3897D3;
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 5px;
    font-size: 20px;
    font-family: 'Dosis Book';
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu>li>a.icon-a {
    display: block;
    padding: 5px 10px 5px 55px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
    position: relative;
    font-size: 18px;
    font-family: 'Dosis Book';
}

.dropdown-menu>li>a.icon-blue {
    display: block;
    padding: 5px 10px 5px 55px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #3897D3;
    white-space: nowrap;
    position: relative;
    font-size: 18px;
    font-family: 'Dosis Book';
}

.icon-saving {
    background-size: contain;
    background-image: url("../images/savings-grey.png");
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-block {
    background-image: url("../images/block-grey.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-reset {
    background-image: url("../images/reset-grey.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-passbook {
    background-image: url("../images/passbook-grey.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-profile {
    background-image: url("../images/header/edit-prof-blue.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-limits {
    background-image: url("../images/set-limits-grey.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.icon-logout {
    background-image: url("../images/header/logout-blue.png");
    background-size: contain;
    height: 27px;
    width: 30px;
    left: 5px;
    top: 4px;
    position: absolute;
    background-repeat: no-repeat;
}

.line-right {
    border-right: #FFFFFF solid 1px;
}

.login-style {
    float: left;
    margin-left: 5px;
}

.head-left {
    top: 5%;
    font-family: 'Dosis Book';
    color: #FFFFFF;
    float: left;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}

.head-right {
    top: 5%;
    font-family: 'Dosis Book';
    color: #FFFFFF;
    float: left;
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    margin: 0;
}

.pmc-page {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.header-main {
    position: absolute;
    top: 100px;
    right: 2%;
}

.pocket-heading {
    font-family: 'Dosis Bold';
    color: #FFFFFF;
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.pocket-subheading {
    font-family: 'Dosis Book';
    color: #FFFFFF;
    font-size: 2.5em;
    margin-top: -10px;
    text-align: center;
}

.order-or {
    color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 22px;
    padding: 0px 25px;
}

.preorder {
    background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 22px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 1px 1px 0px #333333;
}

.feature-section {
    background: #e5e5e5;
}

.feature-row {
    margin: 0;
    padding: 0px 25px;
    padding-bottom: 25px;
}

.left-div-padd {
    margin-left: 8.33333%;
}

.right-div-padd {
    margin-right: 8.33333%;
}

.preorder-margin {
    z-index: 2;
    padding-top: 2em;
}

.gift-card {
    margin-top: 2em;
    font-size: 24px;
    color: #FFFFFF;
    background: #3897D3;
    border: 2px dashed #FFFFFF;
    padding: 25px 30px 20px 25px;
    border-radius: 25px;
    width: 350px;
    font-family: 'Dosis Book';
    line-height: 1.4em;
    text-align: center;
    display: inline-block;
}

.ribbon {
    z-index: 2;
    margin-top: -1.8em;
}

.feature-text {
    color: #333333;
    font-family: 'Dosis SBold';
    font-size: 19px;
}

.recharge-section {
    background: #4ca2d7;
    margin-top: -5em;
    z-index: 9;
    position: relative;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}

.recharge-ul {
    display: inline-block;
    margin: 0;
    max-width: 1000px;
}

.recharge-li {
    float: left;
    margin-left: 10px;
}

.recharge-heading {
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Dosis Light';
    padding-top: 10px;
}

.input-amount {
    background: #4ca2d7 !important;
    width: 300px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Dosis Book';
    border-bottom: 1px solid #FFFFFF;
}

.recharge-label {
    color: #b0e9de !important;
}

.recharge-btn {
    padding-top: 2em;
}

#recharge {
    width: 150px;
    padding: 0.2em 2.8em;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: #e54d39;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Dosis Medium';
    font-size: 20px;
}

#recharge:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
}


/*------------------Card Section--------------------*/

.card-bank {
    float: left;
}

.cb-lt {
    width: 38%;
    background: #def2fe;
}

.cb-md {
    width: 24%;
    margin-top: -3em;
    background: none;
}

.cb-rt {
    width: 38%;
    background: #def2fe;
}

.store-section {
    padding-top: 20px;
}

.store-ul {
    display: inline-block;
    margin: 0;
}

.store-ul-bottom {
    padding: 3px 10px 3px 10px;
    border: 3px solid rgba(128, 128, 128, 0.3);
    border-radius: 30px;
}

.store {
    float: left;
    margin-bottom: 15px;
    color: #3897d3;
    font-family: 'Dosis Book';
    text-transform: uppercase;
}

.used-at {
    font-size: 22px;
}

.store-bottom {
    float: left;
    color: #3897d3;
    font-family: 'Dosis SBold';
    padding-left: 15px;
}

.store-style-bottom {
    padding-right: 20px;
    border-right: 2px solid rgba(128, 128, 128, 0.3);
}

.store-style {
    padding-right: 20px;
}

.no-atm {
    border-radius: 0px 0px 99px 90px;
    border: 3px solid rgba(128, 128, 128, 0.3);
    padding: 5px 20px 2px 10px;
    margin-top: -0.6em;
    border-top: none;
}

.card-subsection {
    padding: 70px 0px 70px 0px;
    max-width: 100%;
    margin: 0;
}

.card-left {
    margin-top: 5em;
    background: #def2fe;
    text-align: right;
    padding-right: 7em;
}

.card-right {
    margin-top: 5em;
    background: #def2fe;
    text-align: left;
    padding-left: 7em;
}

.card-middle {
    padding: 0;
    margin: 0;
}

.pmc-card {
    width: 100%;
}

.card-heading {
    color: #3897d3;
    font-family: 'Dosis Medium';
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

.heading-pmc {
    color: #3897d3;
    font-family: 'Dosis SBold';
    font-size: 40px;
    margin-bottom: 1.8em;
}

.heading-desc {
    color: #333333;
    font-family: 'Dosis SBold';
    font-size: 20px;
    line-height: 1.2em;
    max-width: 800px;
    display: inline-block;
    padding-top: 30px;
}


/*The Cost Section*/

.cost {
    background: #def2fe;
    padding: 50px 0px 50px 0px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.cost-heading {
    color: #3897d3;
    font-family: 'Dosis SBold';
    font-size: 35px;
}

.cost-details {
    margin: 7em;
}

.discount-border {
    float: right;
    padding: 0px 50px 0px 10px;
    border-right: 7px solid #FFFFFF;
    height: 159px;
}

.first-year {
    color: #333333;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding-left: 8.7em;
    text-align: center;
}

.free-desc {
    color: #333333;
    font-family: 'Dosis Medium';
    font-size: 20px;
    line-height: 1.2em;
    display: inline-block;
    text-align: justify;
    padding-top: 15px;
}

.ul-activation {
    padding: 15px 10px 15px 10px;
    display: inline-block;
}

.inr {
    color: #ef9724;
    font-family: 'Dosis SBold';
}

.ul-activation {
    list-style: disc;
    color: black;
}

.activation {
    color: #333333;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding-left: 1em;
}

.hidden-charge {
    margin: 0em;
}

.no-charge {
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 22px;
    margin-top: -2.2em;
    background: #ef9724;
    padding: 0.2em;
}


/*The Difference Section*/

.difference {
    background: #fef6e0;
    padding: 50px 0px 100px 0px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.diff-heading {
    color: #ef9724;
    font-family: 'Dosis SBold';
    font-size: 35px;
}

.diff-desc {
    color: #ef9724;
    font-family: 'Dosis Book';
    font-size: 20px;
}


/*Difference Table*/

.diff-col {
    color: #FFFFFF;
    margin-top: -67px;
    margin-left: 0;
    margin-right: 0;
}

.diff-col-heading {
    background: #ef9724;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 25px;
    padding: 10px 0px;
}


/*.diff-col>div:first-child,
.diff-col>div:last-child {
    background: #ef9724;
    color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 30px;
}

.diff-col>div:nth-child(2) {
    background: #ef9724;
    color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 20px;
    padding-top: 17px;
    height: 65px;
    width: 230px;
}*/

.diff-points-head {
    color: #333333;
    font-family: 'Dosis Book';
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.diff-table {
    margin-bottom: 80px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.diff-points-grey {
    background: #f3f3f3;
}

.diff-points {
    color: #333333;
    font-family: 'Dosis Book';
    font-size: 20px;
    padding: 20px 20px 10px 20px;
    text-align: center;
    height: 80px;
    line-height: 1.2em;
}

.acc-lt {
    border-left: 2px solid #EF9724;
}

.acc-rt {
    border-right: 2px solid #EF9724;
}

.acc-btm {
    border-bottom: 2px solid #EF9724;
}

.diff-line {
    border-right: 2px solid #EF9724;
    height: 80px;
}

.diff-no {
    margin-left: -4px;
    padding-top: 2px;
    font-size: 18px;
    color: #cea01b;
    font-family: 'Dosis EBold';
}

.diff-circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid;
    float: left !important;
    margin-left: -18px;
    background: #FEFEFE;
    text-align: center;
    margin-top: 20px;
    color: #EF9724;
}


/*The Benefits Section*/

.benefits {
    background: #fef6e0;
    padding: 50px 0px 100px 0px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.ben-heading {
    color: #EF9724;
    font-family: 'Dosis SBold';
    font-size: 35px;
}

.ben-desc {
    color: #EF9724;
    font-family: 'Dosis Book';
    font-size: 20px;
}


/*Benefits Column*/

.ben-col {
    padding: 0em 2em;
    margin-top: -3.5em;
    margin-bottom: 6em;
    margin-left: 0;
    margin-right: 0;
}

.clip-div-org {
    background: #eeb11b;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 26%, 50% 46%, 0 25%);
    clip-path: polygon(0 0, 100% 0, 100% 26%, 50% 46%, 0 25%);
    height: 180px;
    padding: 10px 0px 0px 0px;
    position: relative;
    border: 2px solid #eeb11b;
}

.clip-div-blue {
    background: #3897d3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 26%, 50% 46%, 0 25%);
    clip-path: polygon(0 0, 100% 0, 100% 26%, 50% 46%, 0 25%);
    height: 180px;
    padding: 10px 0px 0px 0px;
    position: relative;
    border: 2px solid #3897d3;
}

.clip-heading {
    color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 20px;
    text-align: center;
}

.clip-col {
    color: #333333;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding-left: 20px;
    width: 350px;
    line-height: 1.1em;
    text-align: left;
}

.org-ul {
    padding: 10px 10px 10px 30px;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid #EEB11B;
    width: 100%;
}

.org-ul:last-child {
    padding: 10px 10px 10px 30px;
    margin: 0;
    display: inline-block;
    border: none;
    width: 100%;
}

.blue-ul {
    padding: 10px 10px 10px 30px;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid #3897d3;
    width: 100%;
}

.blue-ul:last-child {
    padding: 10px 10px 10px 30px;
    margin: 0;
    display: inline-block;
    border: none;
    width: 100%;
}

.stop-col {
    max-width: 450px;
    margin-top: -6px;
    line-height: 1.0em;
}

.first-diff {
    margin-top: -140px;
    padding-top: 55px;
    position: relative;
    border: 2px solid #EEB11B;
    padding-left: 0px;
    padding-right: 0px;
}

.second-diff {
    margin-top: -140px;
    padding-top: 55px;
    position: relative;
    border: 2px solid #3897d3;
    padding-left: 0px;
    padding-right: 0px;
}

.ben-li {
    float: left;
    margin-left: 0px;
}


/*Steps to get CARD Section*/

.steps-section {
    margin: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.steps-row {
    background: #def2fe;
    padding: 50px 0px 150px 0px;
}

.request-section {
    max-width: 950px;
    display: inline-block;
    padding-bottom: 2em;
    margin-top: -7em;
    background: #fef6e0;
    border-radius: 20px;
    border: 2px solid #eeb11b;
    -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
}

.steps-heading {
    color: #3897d3;
    font-family: 'Dosis SBold';
    font-size: 35px;
}

.request-card {
    margin-top: -1.6em;
    padding-bottom: 2em;
}

.req-img {
    padding: 7px 0px 7px 0px;
}

.request-bottom {
    color: #333;
    font-family: 'Dosis Medium';
    font-size: 20px;
    line-height: 1.1em;
}

.request-card-text {
    background: #EEB11B;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 28px;
    padding: 7px 50px;
    border-radius: 10px;
}

.steps-span {
    color: #EEB11B;
    font-size: 20px;
    font-family: 'Dosis Medium';
}

.al-request-section {
    max-width: 950px;
    display: inline-block;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 6em;
    background: #def2fe;
    border-radius: 20px;
    border: 2px solid #3897d3;
    -webkit-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.75);
}

.already-card-text {
    background: #3897d3;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 28px;
    padding: 7px 50px;
    border-radius: 10px;
}

.al-steps-span {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Medium';
}

.align-self-middle {
    margin-top: 7em;
}

.request-btn {
    background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 22px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 1px 1px 0px #333333;
}

.or-ul {
    display: inline-block;
    padding-top: 15px;
}

.or-hr {
    float: left;
    margin-left: 5px;
}

.or-text {
    color: #eeb11b;
    font-size: 20px;
    font-family: 'Dosis SBold';
}

.hr-line {
    width: 150px;
    border-bottom-color: #eeb11b;
    margin: 17px;
}

.terms-cond {
    color: #333;
    font-family: 'Dosis Medium';
    font-size: 18px;
    padding-top: 2em;
    line-height: 1.2em;
    float: left;
    width: 320px;
}

.check-box {
    width: 10%;
    display: inline;
}

.verify-mobile {
    width: 150px;
    display: inline;
    position: absolute;
    margin-top: -4em;
    font-size: 16px;
    font-family: 'Dosis Medium';
    color: #3897d3;
}

.verify-span {
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.pass-mobile {
    width: 125px;
    display: inline;
    position: absolute;
    margin-top: -4.2em;
    font-size: 14px;
    font-family: 'Dosis Book';
    color: #a3a3a3;
}

.pass-mobile-pog {
    width: 170px;
    margin-top: -1.2em;
    font-size: 14px;
    font-family: 'Dosis Book';
    color: #a3a3a3;
}

.radio-div {
    padding-top: 0em;
    float: left;
    padding-left: 1.4em;
}

.blog-img {
    width: 100%;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.75);
}

/*The Testinomial Section*/

.testimonial-slider {
    margin-top: -10em;
    height: 400px;
}

.parents-carousel {
    margin-top: -11em;
    height: 350px;
}

.nav-btn {
    position: absolute;
    left: 50%;
    width: 150px;
    margin-left: -100px;
    margin-top: 2.5em;
}

.carousel {
    left: 6%;
    width: 1000px;
    overflow: hidden;
    height: 500px;
    top: -25px;
    position: relative;
}

.carousel .item {
    width: 350px;
    height: 250px;
    background-image: url('/images/testi.png');
    background-size: 100%;
    vertical-align: middle;
    line-height: 150px;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}

.controls {
    top: 500px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
}

.controls a {
    display: block;
}

.controls .previous {
    float: left;
}

.controls .next {
    float: right;
}

.testinomial {
    background: #fef6e0;
    padding: 30px 0px 150px 0px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.test-heading {
    color: #ef9724;
    font-family: 'Dosis SBold';
    font-size: 35px;
}

.parent-heading {
    color: #ef9724;
    font-family: 'Dosis SBold';
    font-size: 25px;
}

.parent-subheading {
    color: #333333;
    font-family: 'Dosis SBold';
    font-size: 20px;
}

.parent-desc {
    color: #333333;
    font-family: 'Dosis Book';
    font-size: 20px;
    line-height: 1.2em;
    max-width: 800px;
    display: inline-block;
    padding: 20px 0px 40px 0px;
}


/*Download Section*/

.download-section {
    background-image: url(../images/footer.png);
    width: 100%;
    margin: 0;
}

.app-desc {
    max-width: 450px;
    position: absolute;
    right: 20%;
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Dosis SBold';
    margin-top: 1em;
    line-height: 1.2em;
    text-align: center;
}

.app-sub-desc {
    max-width: 400px;
    position: absolute;
    right: 27%;
    font-size: 23px;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    margin-top: 3.5em;
    line-height: 1.5em;
    text-align: left;
}

.google-app {
    position: absolute;
    right: 38%;
    margin-top: 17em;
}

.apple-app {
    position: absolute;
    right: 22%;
    margin-top: 17em;
}


/*Partners Section*/

.asection-title {
    text-align: center;
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}

.asection-title .as-line {
    background: #d5d7da;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: 1px;
}

.asection-title > span {
    background: rgb(229, 229, 229);
    display: inline-block;
    padding: 5px 5px;
    color: rgba(6, 7, 9, 0.6);
    position: relative;
    z-index: 2;
    font-family: 'Dosis Book';
    font-size: 24px;
}

.asection-title > span:after,
.asection-title > span:before {
    width: 10px;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: -10px;
    background: #E5E5E5;
}

.asection-title > span:after {
    right: -10px;
    left: auto;
}

.partners {
    background: #e5e5e5;
    padding: 30px 0px 30px 0px;
    margin: 0;
    width: 100%;
    max-width: 100%;
}


/*Footer Section*/

.footer-section {
    position: relative;
}

.footer-bottom-space {
    padding: 2em 2em 6em 2em;
    max-width: 100%;
}

.l-contactus-section {
    background-image: url("../images/footer-bg.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding-bottom: 0px !important;
    padding-top: 30px;
    background-position: 20% 80%;
}

.contact-ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.contact-li {
    float: left;
}

.contact-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Dosis Book';
}

.contact-line {
    width: 35px;
    border-bottom-color: #FFFFFF;
    margin: 15px;
}

h4 {
    font-size: 2.2em;
    line-height: 1.4em;
}

.footer-link {
    margin-bottom: 10px;
    color: white !important;
    font-family: 'Dosis Medium';
    font-size: 18px;
}

.footer-link-bottom {
    padding: 5px 0px 5px 0px;
    color: white !important;
    font-family: 'Dosis Book';
    font-size: 18px;
    margin: 0;
}

.l-content-wrap .l-contactus-section {
    padding: 40px 0 0 0;
}

section {
    padding-left: 0px;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.register-btn {
    position: absolute;
    top: 100%;
    right: 25%;
}

.download {
    max-width: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.down-back {
    padding: 0;
    border: 3px solid #E54D39;
}


/*Registration Page*/

.request-card-page {}

.register-form {
    background: #DEF2FE url("../images/register-bg.png") no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.form-div-left,
.form-div-right {
    color: #DEF2FE;
}

.form-div {
    padding: 20px 20px 0px 20px;
    background: #FFFFFF;
    -webkit-box-shadow: -2px 0px 7px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 7px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
}

.footer-div {
    height: 100px;
    background: rgba(51, 51, 51, 0.83);
}

.select-edit {
    padding: 0rem;
    border: none;
    margin: 0 0 1rem;
    font-size: 20px;
    font-family: 'Dosis Book';
    border-bottom: 1px solid #ccc;
    line-height: normal;
    color: #3897d3;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 25px 10px;
    background-position: right 0rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    outline: none;
    width: 340px;
}

.payment-text {
    color: #ccc;
    font-family: 'Dosis Book';
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.thank-payment {
    color: #3897d3;
    font-size: 42px;
    font-family: 'Dosis SBold';
    text-align: center;
}

.thank-payment-sub {
    color: #3897d3;
    font-size: 28px;
    font-family: 'Dosis Medium';
    text-align: center;
}


/*Form Design*/

header {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background: rgba(157, 206, 236, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

.form-heading {
    font-size: 40px;
    font-family: 'Dosis SBold';
    color: #3897d3;
    text-align: center;
}

.form-subhead {
    font-size: 28px;
    font-family: 'Dosis Medium';
    color: #3897d3;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1.1em;
}

.group {
    position: relative;
    margin: 30px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
    margin: 0em;
    padding: 0em;
    display: block;
    width: 100%;
    border: none;
    box-shadow: none !important;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
}

input:focus {
    outline: none !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.header-menu-all {
    top: 0px;
}


/* Label Design */

label.isEvent {
    pointer-events: none;
}

label {
    color: #3897d3;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 5px;
    top: 3px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    font-family: 'Dosis Book';
}


/* Active state */

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #22A7F0;
    transition: top .45s ease-in-out, color .45s ease-in-out, font-size .45s ease-in-out;
}


/* Underlining Bars */

.bar-home {
    position: relative;
    display: block;
    width: 100%;
}

.bar-home:before,
.bar-home:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #FFFFFF;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar-home:before {
    left: 50%;
}

.bar-home:after {
    right: 50%;
}


/* active state */

input:focus ~ .bar-home:before,
input:focus ~ .bar-home:after {
    width: 50%;
}


/* Highlighter */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active state */

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/** Animations **/

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

#Send {
    width: 50%;
    padding: 1em 0;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: #e54d39;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Dosis Medium';
}

#Send:hover {
    background: rgba(229, 77, 57, 0.75);
    overflow: hidden;
}

#thank {
    width: 50%;
    padding: 1em 2em;
    cursor: pointer;
    border: 0;
    color: #fff;
    background: #e54d39;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Dosis Medium';
}

#thank:hover {
    background: rgba(229, 77, 57, 0.75);
    overflow: hidden;
}

.input-radio {
    float: left;
    margin-left: 0px;
    width: 50px;
    cursor: pointer;
}

.radio {
    cursor: pointer;
}

.gender-radio {
    padding: 20px;
}

.gender {
    margin-top: -10px;
    font-size: 20px;
    font-family: 'Dosis Book';
    color: #22A7F0;
    cursor: pointer;
}

.submit-btn {
    margin-bottom: 2em;
}


/*------------------------------------------*/


/*----------Request a Card Page-------------*/

.request-form {
    background: #DEF2FE no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 85px;
}

.request-step-ul {
    display: inline-block;
}

.request-steps {
    float: left;
    margin-left: 7px;
    font-size: 13px;
    font-family: 'Dosis SBold';
    color: #ababab;
    background: #e5e5e5;
    border-radius: 6px;
    padding: 0px 60px;
}

.request-steps-active {
    float: left;
    margin-left: 7px;
    font-size: 13px;
    font-family: 'Dosis SBold';
    color: #FFFFFF;
    background: #ef9724;
    border-radius: 6px;
    padding: 0px 60px;
}

.form-heading-top {
    font-size: 40px;
    font-family: 'Dosis SBold';
    color: #3897d3;
    text-align: center;
}

.form-subhead-top {
    font-size: 26px;
    font-family: 'Dosis Medium';
    color: #eeb11b;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.1em;
}

.validation-control {
    background: #fef6e0;
    max-width: 700px;
    margin: 0 auto;
}

.validation-control-error {
    color: white;
    background: #e54d39;
    max-width: 700px;
    margin: 0 auto;
}

.verify-email {
    color: #ababab;
    font-size: 14px;
    font-family: 'Dosis Book';
    float: left;
}

.input-details {
    background: #FFFFFF !important;
    width: 300px;
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Book';
}

.radio-step-div {
    display: inline-block;
    height: 39px;
    border: 1px solid #3897d3;
    margin-top: 2em;
    border-radius: 10px;
}

.test-label-2 {
    top: -30px !important;
    font-size: 22px !important;
    font-family: 'Dosis Book' !important;
}

.child-login-use {
    margin-top: 1em;
    font-size: 18px;
    font-family: 'Dosis Medium';
    line-height: 1.1em;
}

.dropdown-form {
    border-bottom: 1px solid #CCC;
    text-align: left;
    position: relative;
    margin: 0px 30px;
}

.form-caret-custom {
    display: inline-block;
    width: 0;
    height: 0;
    right: 20px;
    top: 10px;
    float: right;
    position: absolute;
    vertical-align: middle;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.card-row {
    padding-top: 25px;
}

.card-number {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Book';
    padding-left: 25px;
}

.card-input {
    border: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    text-align: center;
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Book';
}

.card-input:focus {
    border: 1px solid #ccc !important;
}

.card-num-padd {
    padding-right: 5em;
}


/*-----------Reset Pin--------*/

.reset-ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.reset-li {
    float: left;
    margin-left: 10px;
}

.reset-page {
    width: 100%;
    height: 100%;
    background: #def2fe;
}

.reset-img {
    padding-top: 12px;
}

.reset-pin-header {
    color: #3897d3;
    font-size: 40px;
    font-family: 'Dosis SBold';
    text-align: center;
}

.reset-pin-subhead {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Medium';
    text-align: center;
    margin-top: -0.5em;
    padding-left: 20px;
}

.pin-inner-block {
    background: #FFFFFF;
    border: 2px solid #7ed321;
    border-radius: 10px;
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.pin-top-block {
    background: #e5e5e5;
    display: inline-block;
    padding: 15px 0px;
    border-radius: 10px 10px 0px 0px;
}

.pin-below-block {
    background: #FFFFFF;
    display: inline-block;
    padding: 15px 0px;
    border-radius: 0px 0px 10px 10px;
}

.child-name {
    color: #3897d3;
    font-size: 24px;
    font-family: 'Dosis SBold';
    text-align: center;
}

.card-no-user {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Medium';
    text-align: center;
}

.reset-success-head {
    color: #3897d3;
    font-size: 42px;
    font-family: 'Dosis SBold';
    text-align: center;
}

.thankyou-section {
    display: inline-block;
}

.thank-div {
    background: #FFFFFF;
    padding: 5em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.reset-success-sub {
    color: #3897d3;
    font-size: 28px;
    font-family: 'Dosis Medium';
    text-align: center;
}

.reset-succes {
    background: #FFFFFF;
    display: inline-block;
}


/*------------------------------------------*/


/*---------------------Lock Unlock Section---------------------*/

.blockcard-page {
    width: 100%;
    height: 100%;
    background: #def2fe;
}

.block-ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.block-li {
    float: left;
    margin-left: 10px;
}

.block-img {
    padding-top: 12px;
}

.block-pin-header {
    color: #3897d3;
    font-size: 40px;
    font-family: 'Dosis SBold';
    text-align: center;
}

.block-pin-subhead {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Medium';
    text-align: center;
    margin-top: -0.5em;
    padding-left: 20px;
}

.block-inner-green {
    background: #FFFFFF;
    border: 2px solid #7ed321;
    border-radius: 10px;
    display: inline-block;
    margin-top: 4em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.block-inner-red {
    background: #FFFFFF;
    border: 2px solid #ff0000;
    border-radius: 10px;
    display: inline-block;
    margin-top: 4em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.block-card-top {
    background: #e5e5e5;
    display: inline-block;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.block-card-below {
    background: #FFFFFF;
    display: inline-block;
    padding: 2em;
    border-radius: 0px 0px 10px 10px;
}

.name-child {
    color: #3897d3;
    font-size: 24px;
    font-family: 'Dosis SBold';
    float: left;
}

.card-user {
    color: #3897d3;
    font-size: 20px;
    font-family: 'Dosis Medium';
    float: left;
}

.block-container-ul {
    display: inline-block;
    margin: 0px;
}

.block-card-ul {
    margin: 0;
    float: left;
    display: inline;
    padding: 0;
}

.block-card-li {
    float: left;
    padding: 1em 2em;
}

.block-text {
    font-size: 24px;
    font-family: 'Dosis SBold';
    color: #FFFFFF;
}

.unlock-img {
    background: #7ed321;
    height: 100px;
    padding-top: 15px;
}

.lock-img {
    background: #ff0000;
    height: 100px;
    padding-top: 15px;
    width: 144px;
}

.block-edit {
    padding: 0rem;
    border: none;
    margin: 0 0 1rem;
    font-size: 20px;
    font-family: 'Dosis Book';
    border-bottom: 1px solid #ccc;
    line-height: normal;
    color: #CCC;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 25px 10px;
    background-position: right 0rem center;
    background-origin: content-box;
    background-repeat: no-repeat;
    outline: none;
    width: 240px;
}

.block-btn-li {
    float: left;
    margin-left: 20px;
}

.lock-text {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Dosis SBold';
}

.block-btn {
    max-width: 150px;
    background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 1px 1px 0px #333333;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    cursor: pointer;
}

.block-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
}

.dropdown-edit {
    border-bottom: 1px solid #CCC;
    width: 250px;
    padding: 5px;
    text-align: left;
    position: relative;
}

.dropdown-edit>ul>li>a.icon-blue {
    display: block;
    padding: 5px 10px 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #3897D3;
    white-space: nowrap;
    position: relative;
    font-size: 18px;
    font-family: 'Dosis Book';
}

.block-caret-custom {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 60px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}


/*------------------------------------------*/


/*---------------Passbook Page------------------*/

.passbook-page {
    width: 100%;
    background: #def2fe;
    margin: 0px;
}

.passbook-header {
    color: #3897D3;
    font-family: 'Dosis Medium';
    font-size: 30px;
    padding: 20px 0px;
}


/*-------------------Child Page------------------*/


/*-------------------Child Header------------------*/

.child-header {
    margin: 0;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.55);
}

.header-logo-left {
    float: left;
}

.header-icons {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.header-icons-div {
    text-align: left;
    color: #3897d3;
    font-family: 'Dosis Medium';
    font-size: 20px;
    padding: 1.5em 0em;
}

.login-btn {
    background: #3897d3;
    border-radius: 8px;
    padding: 7px 0px;
    margin-top: 1em;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.login-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    background: #3897d3 !important;
    color: #FFFFFF;
    cursor: pointer;
}

.header-key {
    margin-right: 10px;
}


/*----------------------------------------------*/

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
}

.noscroll {
    overflow: hidden;
}

.static {
    position: static;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.clear {
    clear: both;
}

.navbar .sb-toggle-right {
    width: 58px;
    float: right;
    padding: 14px;
}

.footer-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

.radio-inline,
.checkbox-inline {
    padding-left: 0px !important;
    width: 84px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 6px !important;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

.form-inline .btn-default {
    background-color: transparent !important;
    border: none !important;
}

.p-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
}