<pmc-header></pmc-header>

<body>

    <section class="activate-card-page">
        <section class="row request-form">
            <div class="form-div-left col-lg-2 col-md-2">
                &nbsp;
            </div>

            <div class="form-div col-lg-8 col-md-8 col-xs-12">
                <section class="step-1" data-ng-show="step==1">

                    <div class="col-lg-12 col-md-12">
                        <ul class="request-step-ul">
                            <li class="request-steps-active">
                                <span>STEP 1</span>
                            </li>
                            <li class="request-steps">
                                <span>STEP 2</span>
                            </li>
                            <li class="request-steps">
                                <span>STEP 3</span>
                            </li>

                        </ul>

                    </div>
                    <div class="reg-heading">
                        <div class="form-heading-top">Card Ativation Form</div>
                        <div class="form-subhead-top">
                            <div class="validation-control">
                                Enter the 16 digit card number provided on the card
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12" style="margin-top:-2em;">

                        <div class="row card-row">
                            <div class="col-lg-3 col-md-3">
                                <span class="card-number">
                     Card Number :
                 </span>
                            </div>
                            <div class="col-lg-9 col-md-9 card-num-padd">
                                <div class="col-lg-3 col-md-3">
                                    <input data-ng-model="card1" class="card-input" type="text">
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <input data-ng-model="card2" class="card-input" type="text">
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <input data-ng-model="card3" class="card-input" type="text">
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <input data-ng-model="card4" class="card-input" type="text">
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6">
                            <form action="http://www.pockettmoneycard.com/backend/saveForm.php" method="post">
                                <div class="group">
                                    <input data-ng-model="pname" class="input-details" type="text" id="Fullname" name="full_name" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Parents Full Name</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <form>
                                <div class="group">
                                    <input data-ng-model="pemail" class="input-details" type="text" id="EmailId" name="email" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Email Address</label>
                                    <div class="verify-email">Please verify your email address to confirm your order.</div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="ppass" class="input-details" type="{{showPassword?'text':'password'}}" id="Password" name="email" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Set Password</label>
                                </div>
                                <div class="pass-mobile">
                                    <input data-ng-model="showPassword" type="checkbox" class="check-box">
                                    <span class="pass-span">Show Password</span>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="pmob" class="input-details" type="text" id="MobileNo" name="mobile" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Mobile Number</label>
                                </div>
                                <div class="verify-mobile">
                                    <span class="verify-span">Verify my phone</span>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">

                            <div class="radio-div">
                                <input class="test-input radio-input" data-ng-model="pgender" value="Male" type="radio" id="radio1" name="radio-category" checked/>
                                <label class="test-label radio-label" for="radio1">Male</label>

                                <input class="test-input radio-input" data-ng-model="pgender" value="Female" type="radio" id="radio2" name="radio-category" />
                                <label class="test-label radio-label" for="radio2">Female</label>
                            </div>


                        </div>

                        <div class="col-lg-6 col-md-6" style="margin-top:-2em;">
                            <div class="terms-cond">
                                <input data-ng-model="isTnc" type="checkbox" class="check-box"> By clicking Next you agree to our</br>
                                <u>Terms &amp; Conditions</u> </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="next-margin center-block">
                                <a class="next-btn" data-ng-click="addParentActivate()">Next</a>
                            </div>
                        </div>
                    </div>

                </section>
                <!--------------End of STEP 1---------------->

                <!--------------Start of STEP 2---------------->
                <section class="step-2" data-ng-show="step==2">
                    <div class="col-lg-12 col-md-12">
                        <ul class="request-step-ul">
                            <li class="request-steps-active">
                                <span>STEP 1</span>
                            </li>
                            <li class="request-steps-active">
                                <span>STEP 2</span>
                            </li>
                            <li class="request-steps">
                                <span>STEP 3</span>
                            </li>

                        </ul>

                    </div>
                    <div class="reg-heading">
                        <div class="form-heading-top">Child login details</div>
                        <div class="form-subhead-top">
                            <div class="validation-control">
                                Fill in your child details
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 register-options" style="margin-top:-2em;">
                        <div class="radio-step-div">
                            <input data-ng-model="isNew" class="test-input radio-input" value="y" type="radio" id="radio3" name="radio-category" checked/>
                            <label class="test-label-2 radio-label" for="radio3" data-ng-click="pog=1" style="border-right: 1px solid;
    padding-right: 4em;
    height: 38px;
">New Registration</label>

                            <input data-ng-model="isNew" class="test-input radio-input" value="n" type="radio" id="radio4" name="radio-category" />
                            <label class="test-label-2 radio-label" for="radio4" data-ng-click="pog=2">Have a Planet of Gui profile</label>
                        </div>
                    </div>

                    <div class="non-pog" data-ng-show="pog==1">
                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="kname" class="input-details" type="text" id="MobileNo" name="mobile" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Kids User Name :</label>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="kpass" class="input-details" type="password" id="Password" name="email" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Set Password</label>
                                </div>
                                <div class="pass-mobile">
                                    <input type="checkbox" class="check-box">
                                    <span class="pass-span">Show Password</span>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-md-6" style="margin-top:-1em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="kdob" class="input-details" type="text" id="dob" name="mobile" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Date of Birth</label>
                                </div>

                            </form>
                            <!--      <div class="row collapse date" id="dpMonths" data-date-format="mm/yyyy" data-start-view="year" data-min-view="year" style="max-width:200px;">
	<div class="small-2 columns">	
		<span class="prefix"><i class="fa fa-calendar"></i></span>
	</div>
	<div class="small-10 columns">
		<input size="16" type="text" value="02/2012" readonly>	
	</div>
</div>-->
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="child-login-use">
                                Your child can use this credentials to login on www.planetofgui.com
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="next-margin center-block">
                                <a class="next-btn" data-ng-click="linkKid()">Next</a>
                            </div>
                        </div>
                    </div>

                    <div class="already-pog" data-ng-show="pog==2">
                        <div class="col-lg-6 col-md-6" style="margin-top:0em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="kname" class="input-details" type="text" id="MobileNo" name="mobile" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">User Name</label>
                                </div>

                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6" style="margin-top:0em;">
                            <form>
                                <div class="group">
                                    <input data-ng-model="kpass" class="input-details" type="password" id="Password" name="email" required />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="isEvent">Password</label>
                                </div>

                            </form>
                            <div class="pass-mobile-pog">
                                <input type="checkbox" class="check-box">
                                <span class="pass-span">Show Password</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="next-margin center-block">
                                <a class="next-btn" data-ng-click="linkKid()">Next</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!--------------End of STEP 2---------------->

                <!--------------Start of STEP 4---------------->
                <section class="step-3" data-ng-show="step==3">
                    <div class="col-lg-12 col-md-12">
                        <ul class="request-step-ul">
                            <li class="request-steps-active">
                                <span>STEP 1</span>
                            </li>
                            <li class="request-steps-active">
                                <span>STEP 2</span>
                            </li>
                            <li class="request-steps-active">
                                <span>STEP 3</span>
                            </li>

                        </ul>

                    </div>
                    <div class="col-lg-12 col-md-12" style="margin-top:3em; padding:1em;">
                        <div class="thank-payment">
                            Thank you for the Payment
                        </div>
                        <div class="thank-payment-sub">
                            After receiving the card Activate it by reseting the pin online.
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12" style="margin-top:-1em; padding:5em;">
                        <a href="#home" class="next-btn">Go to website
                 </a>
                    </div>
                </section>
                <!--------------End of STEP 4---------------->

            </div>

            <div class="form-div-left col-lg-2 col-md-2">
                &nbsp;
            </div>
        </section>
    </section>
</body>
<pmc-footer></pmc-footer>