<pmc-header></pmc-header>


<body>
    <section class="blockcard-page">

        <section class="block-card">
            <div class="col-lg-12 col-md-12" style="padding-top:1em;">
                <ul class="block-ul">
                    <li class="block-li reset-img">
                        <img src="images/reset-pin.png">
                    </li>
                    <li class="block-li">
                        <div class="block-pin-header">Lock / Unlock</div>
                    </li>
                </ul>
                <div class="block-pin-subhead">Lock and Unlock your child card instantly</div>
            </div>
            <div class="col-xs-12 " data-ng-if="kids.length<1"> Oops! you do not have any card allocated yet.</div>
            <div class="col-lg-6 col-md-6">
                <div data-ng-repeat="k in kids" ng-class="k.is_locked==0?'block-inner-green':'block-inner-red'">
                    <div class="block-card-top">
                        <ul class="block-card-ul">
                            <li ng-show="k.is_locked==0" class="block-card-li unlock-img">
                                <img src="images/unlock.png">
                                <br/>
                                <span class="block-text">Unlocked</span>
                            </li>
                            <li ng-show="k.is_locked!=0" class="block-card-li lock-img">
                                <img src="images/lock.png">
                                <br/>
                                <span class="block-text">Locked</span>
                            </li>
                            <li class="block-card-li">
                                <span class="name-child">
                        Child User {{k.wizkid_name}}
                    </span></br>
                                <span class="card-user">
                        Card no : {{k.card_number}}
                    </span>
                            </li>
                        </ul>

                    </div>
                    <br/>
                    <div class="col-xs-12 block-card-below">

                        <div class="col-xs-8">
                            <div class="dropdown-edit">
                                <button class="login-primary-header dropdown-toggle" type="button" data-toggle="dropdown"><span data-ng-if="k.reason==null">Reason for blocking</span><span data-ng-if="k.reason!=null">{{k.reason}}</span>
                                    <span class="block-caret-custom"></span></button>
                                <ul class="dropdown-menu" style="margin: 0px;
    border-radius: 0px;
    left: 0px;
    min-width: 250px;">
                                    <li style="margin-top: -4px;"><a class="icon-blue" data-ng-click="selectReason($index,'Lost Card')">Lost my card</a></li>
                                    <li><a class="icon-blue" data-ng-click="selectReason($index,'Damaged')">Damaged</a></li>
                                    <li><a class="icon-blue" data-ng-click="selectReason($index,'Stolen')">Stolen</a></li>
                                    <li><a class="icon-blue" data-ng-click="selectReason($index,'Closing Account')">Closing my account</a></li>
                                    <li style="margin-bottom: -4px;"><a class="icon-blue" data-ng-click="selectReason($index,'Lost Card')">No further use</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div data-ng-click="lockCard($index,k.parents_child_id)" class="block-btn" data-ng-show="k.is_locked==0">
                                <img src="images/lock-btn-img.png" style="margin-top: -5px; margin-right: 5px;"> Lock
                            </div>

                            <div data-ng-click="unlockCard($index,k.parents_child_id)" class="block-btn" data-ng-show="k.is_locked==1">
                                <img src="images/unlock-btn-img.png" style="margin-top: -5px; margin-right: 5px;"> Unlock
                            </div>



                        </div>
                    </div>

                </div>
            </div>
            </div>

        </section>

    </section>
</body>

<pmc-footer></pmc-footer>