<style>
.saving-goals-body{
        margin: 4px 0px 0px;
    background-image: url('images/saving-goals-bg.png');
    background-repeat: no-repeat;
    padding: 5em 6em;
    } 
    .shadow-div{
        -webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    }    
    .org-bg{
        background:#ef9724;
        padding: 0;
        border-radius: 10px 10px 0px 0px;
        padding-bottom: 30px;
    }
     .sav-heading{
           color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 35px;
    padding: 1em 0em 0em;
    text-align: center;
             text-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.64);
    }
    .sav-subheading{
            color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 26px;
    padding: 0.3em 0em 0em;
    text-align: center;
    }
    .sav-filters{
        background: #e5e5e5;
            z-index: 0;
    padding: 10px 0px 0px;
    }
    .sav-filters-diff{
        color: #727272;
        font-size: 20px;
        font-family: 'Dosis Medium';
        padding: 10px 0px;
        cursor: pointer;
    }
    .sav-filters-selected{
        border-bottom: 5px solid #ef9724;
        color: #ef9724;
    }
    .all-goals, .curr-goals, .achv-goals, .miss-goals{
        background: #FFFFFF;
        padding: 0px 25px;
        margin-bottom: 5em;
    }
    .curr-goal-div{
        background: #3897d3;
    border-radius: 10px;
    border: 5px solid #3897d3;
    padding:0;
    } 
    .achv-goal-div{
        background: #ef9724;
    border-radius: 10px;
    border: 5px solid #ef9724;
    padding:0;
    }
    .miss-goal-div{
        background: #9c9c9c;
    border-radius: 10px;
    border: 5px solid #9c9c9c;
    padding:0;
    }
    .curr-heading{
          color: #3897d3;
    font-family: 'Dosis SBold';
    font-size: 22px;
        text-align:center;
    }
    .achv-heading{
          color: #ef9724;
    font-family: 'Dosis SBold';
    font-size: 22px;
        text-align:center;
    }
    .miss-heading{
          color: #9c9c9c;
    font-family: 'Dosis SBold';
    font-size: 22px;
        text-align:center;
    }
    .goal-name{
      color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 22px;
    padding-top: 5px;
        padding-right: 25px;
    }
    .goal-status{
        color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 15px;
        padding-right: 25px;
    }
    .mid-section{
            background: #f3f3f1;
    padding: 10px 0px;
    font-size: 18px;
    font-family: 'Dosis Medium';
    height: 99px;
    }
    .section-footer{
           font-size: 18px;
    font-family: 'Dosis Medium';
    color: #FFFFFF;
    padding: 10px 0px;
    }
    .footer-amount{
         font-size: 22px;
    font-family: 'Dosis SBold';
         color: #FFFFFF;
    }
</style>
<body>
    <section class="row child-header">
        
        <div class="col-xs-5">
         <a href="#childhome">
                <img class="header-logo-left" src="images/pmc-scroll-logo.png" alt="Pockett Money Card Logo">
            </a>
        </div>
        <div class="col-xs-7">
                        
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/your-balance-blue.png">
               <a href="#yourbalance">Your Balance</a> 
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/saving-goals-blue.png">
                <a href="#childgoals">Saving Goals</a>
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/request-money-blue.png">
                <a href="#requestmoney">Request Money</a>
            </div>
            <div class="col-xs-3">
                <div class="login-btn center-block">
                   <img class="header-key" src="images/login-key.png">
                    Login
                </div>
            </div>
            
        </div>
        
    </section>
    
      <section class="row saving-goals-body">
      <div class="col-xs-12 no-padding shadow-div">
             <div class="col-xs-12 org-bg">
                <div class="col-xs-12 sav-heading">
                   <img src="images/saving-goals-big.png" style="margin: -10px 9px 0px 0px;">Saving Goals  
                </div>
                <div class="col-xs-12 sav-subheading">
                Card No : 1234  5678  9123  4567
          </div>
          <div class="col-xs-12 sav-subheading">
              Valid Upto : 12/2018
          </div>
          </div>
          <div class="col-xs-12 sav-filters no-padding">
         <div class="col-xs-6 no-padding">
             
             <div class="col-xs-3 sav-filters-diff filters-diff-all sav-filters-selected" data-ng-click="fliterClick('all',sav=1)">
                 All Goals
             </div>           
             <div class="col-xs-3 sav-filters-diff filters-diff-curr " data-ng-click="fliterClick('curr',sav=2)">
                 Current
             </div>
                 <div class="col-xs-3 sav-filters-diff filters-diff-achv" data-ng-click="fliterClick('achv',sav=3)">
                 Achieved
             </div>
                <div class="col-xs-3 sav-filters-diff filters-diff-miss " data-ng-click="fliterClick('miss',sav=4)">
                 Missed
             </div>
         </div>
         <div class="col-xs-6">
           
         </div>
     </div>
          <div class="col-xs-12" style="background:#FFFFFF; padding-top:60px; padding-bottom:70px; border-radius: 0px 0px 10px 10px;">
            
            <!-----------------All Goals----------------->
            <section class="all-goal-section" data-ng-show="sav==1">
                <div class="col-xs-12" style="padding-bottom: 50px;
">
                <div class="col-xs-6">
                    <div class="col-xs-12 curr-heading">
                Current Goals
            </div>
                     <div class="col-xs-12 curr-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/curr-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                            26 Days Left
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#3897d3">End Date 8 July,2016</span>
            </div>
                <div class="col-xs-12 section-footer">
                Daily Deduction amount <span class="footer-amount">Rs. 100</span>
            </div>
                </div>
                </div>
                <div class="col-xs-6">
                     <div class="col-xs-12 achv-heading">
                Achieved Goals
            </div>
                  <div class="col-xs-12 achv-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/achv-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                            Goal Achieved
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#ef9724">You saved Rs. 60000</span>
            </div>
                <div class="col-xs-12 section-footer">
                   &nbsp;
            </div>
                </div>
                </div>
               </div>
               <div class="col-xs-12">
                   <div class="col-xs-6">
                    <div class="col-xs-12 miss-heading">
                Missed Goals
            </div>
                     <div class="col-xs-12 miss-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/miss-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                           Oops! You missed this Goal
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#3897d3">End Date 8 July,2016</span>
            </div>
                <div class="col-xs-12 section-footer">
                Daily Deduction amount <span class="footer-amount">Rs. 100</span>
            </div>
                </div>
                </div>
                <div class="col-xs-6"></div>
               </div>
            </section>
            
             <!-----------------Current Goals----------------->
            <section class="curr-goal-section" data-ng-show="sav==2">
                 <div class="col-xs-6">
                    <div class="col-xs-12 curr-heading">
                Current Goals
            </div>
                     <div class="col-xs-12 curr-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/curr-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                            26 Days Left
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#3897d3">End Date 8 July,2016</span>
            </div>
                <div class="col-xs-12 section-footer">
                Daily Deduction amount <span class="footer-amount">Rs. 100</span>
            </div>
                </div>
                </div>
            </section>
            
             <!-----------------Achieved Goals----------------->
            <section class="achv-goal-section" data-ng-show="sav==3">
                 <div class="col-xs-6">
                     <div class="col-xs-12 achv-heading">
                Achieved Goals
            </div>
                  <div class="col-xs-12 achv-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/achv-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                            Goal Achieved
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#ef9724">You saved Rs. 60000</span>
            </div>
                <div class="col-xs-12 section-footer">
                   &nbsp;
            </div>
                </div>
                </div>
            </section>
            
             <!-----------------Missed Goals----------------->
            <section class="miss-goal-section" data-ng-show="sav==4">
                 <div class="col-xs-6">
                    <div class="col-xs-12 miss-heading">
                Missed Goals
            </div>
                     <div class="col-xs-12 miss-goal-div">

                <div class="col-xs-12 no-padding text-center">
                        <img src="images/miss-left-img.png" style="float:left;">
                        <div class="goal-name">
                            PS 4 Saving Goals
                        </div>
                         <div class="goal-status">
                           Oops! You missed this Goal
                        </div>   
            </div>
                <div class="col-xs-12 no-padding mid-section">
                <span style="color:#3897d3">End Date 8 July,2016</span>
            </div>
                <div class="col-xs-12 section-footer">
                Daily Deduction amount <span class="footer-amount">Rs. 100</span>
            </div>
                </div>
                </div>
            </section>
              
            
        </div>
         
          </div>
        
    </section>
</body>
<pmc-footer></pmc-footer>