<style>
    video::-webkit-media-controls-fullscreen-button {
        display: none;
    }
    
    .kid-card {
        font-size: 26px;
        font-family: 'Dosis Book';
        padding: 10px;
        color: #3897d3;
    }
    
    .pmc-body {
        padding: 5em 2em;
        margin: 0;
    }
    
    .need-card {
        background: #f3f3f3;
        max-width: 400px;
        border: 2px dashed#c4c4c4;
        border-radius: 15px;
        margin-top: 4em;
        padding: 1em 1em 4em;
    }
    
    .another-card {
        font-size: 26px;
        font-family: 'Dosis Book';
        padding: 30px 10px 15px;
        color: #3897d3;
    }
</style>
<pmc-header></pmc-header>

<body>

    <section class="pmc-page">

        <!--    -----Pagination-------
<ul id="nav">
		<li><a href="#section1" title="Next Section" class="scroll">
		<img src="images/dot1.png" alt="Link"></a></li>

	    <li><a href="#section2" title="Next Section" class="scroll">
	    <img src="images/dot2.png" alt="Link"></a></li>

	    <li><a href="#section3" title="Next Section" class="scroll">
	    <img src="images/dot3.png" alt="Link"></a></li>

	    <li><a href="#section4" title="Next Section" class="scroll">
	    <img src="images/dot4.png" alt="Link"></a></li>

	    <li><a href="#section5" title="Next Section" class="scroll">
	    <img src="images/dot5.png" alt="Link"></a></li>
	</ul>-->

        <!------------PMC Header--------------->
        <section id="section1" class="pmc-header" data-ng-if="!authenticated">
            <img class="pmc-banner" src="images/header-pmc.png" alt="Pockket Money Card">

            <!--Used when the Card is Ready-->

            <ul class="left-header-contact">
                <li class="head-left line-right">
                    <div>Contact Us</div>
                </li>
                <li class="head-left">
                    <div>Help</div>
                </li>
            </ul>

            <ul class="login-left-pre" data-ng-if="!authenticated" data-toggle="modal" data-target="#myModal">
                <li class="head-right">
                    <img src="images/login-key.png">
                </li>
                <li class="head-right">Login</li>

            </ul>
            <ul data-ng-if="authenticated" class="login-left-post">
                <div class="dropdown">
                    <button class="login-primary dropdown-toggle" type="button" data-toggle="dropdown">{{puser.full_name}}
                        <span class="caret-custom"></span></button>
                    <ul class="dropdown-menu" style="margin:1px 0 0; border-radius:0px; left:-1px; min-width:190px;">
                        <li style="margin-top: -4px;"><a class="icon-a" href="#"><i class="icon-saving"></i>Saving Goals</a></li>
                        <li><a class="icon-a" href="#blockcard"><i class="icon-block"></i>Lock / Unlock</a></li>
                        <li><a class="icon-a" href="#resetpin"><i class="icon-reset"></i>Reset Pin</a></li>
                        <li><a class="icon-a" href="#"><i class="icon-passbook"></i>Digital Passbook</a></li>
                        <li><a class="icon-a" href="#"><i class="icon-profile"></i>Edit Profile</a></li>
                        <li style="margin-bottom: -4px;"><a class="icon-a" data-ng-click="logout()"><i class="icon-logout"></i>Logout</a></li>
                    </ul>
                </div>
            </ul>

            <!--------------Parents Login Modal------------>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document" style="width: 700px; height: 400px; margin-top: 130px;">
                    <div class="modal-content">
                        <div class="col-xs-12 no-padding">
                            <div class="col-xs-6 login-mod-left">
                                <div class="left-mod-header">
                                    For the Digital &amp; Tech-savy Generation
                                </div>

                            </div>
                            <div class="col-xs-6 login-mod-right">
                                <button type="button" class="close close-mod-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="row" style="padding: 3em 0 0; margin:0px; background: #2675a6;">
                                    <div class="col-xs-12 text-center no-padding">
                                        <div class="login-tab tab-clicked-modal center-block">
                                            Login
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <form action="http://www.pockettmoneycard.com/backend/saveForm.php" method="post"><span data-ng-if="isError" class="error-msg ng-binding ng-scope" style=" margin-top: 55px; color: #e92127; font-size: 20px; font-weight: bold;">{{errorMessage}}</span>
                                        <div class="group1">


                                            <input class="input-login" type="text" id="UserName" name="full_name" data-ng-model="customer.email" required />
                                            <span class="highlight"></span>
                                            <span class="bar-home"></span>
                                            <label class="isEvent recharge-label">Parents Email</label>
                                        </div>


                                        <div class="group2">
                                            <input class="input-login" type="password" data-ng-model="customer.password" id="Password" name="password" required />
                                            <span class="highlight"></span>
                                            <span class="bar-home"></span>
                                            <label class="isEvent recharge-label">Password</label>
                                        </div>
                                        <div class="forgot-pass">
                                            <span>Forgot Password&#63;</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="login-modal-btn pmc-btn center-block" data-ng-click="login()">
                                                Login
                                            </div>
                                            <img data-ng-show="showLoader" src="images/17.gif">
                                        </div>
                                    </form>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

            <!-------------Section to change Website from Parent to Kid----------->
            <section class="switch-site">
                <div class="col-xs-12 no-padding">
                    <a href="#childhome" style="color:#FFFFFF;">
                        <div class="col-xs-6">
                            <img class="switch-select" src="images/switch-un-select.png"></br>
                            <img src="images/child-web.png" alt="Child Website"> Kid
                    </a>
                    </div>
                    <div class="col-xs-6">
                        <img src="images/switch-selected.png"></br>
                        <img src="images/parent-web.png" alt="Parent Website"> Parent

                    </div>
                </div>
            </section>

            <div class="logo-section" data-ng-if="!authenticated">

                <div class="col-lg-5 col-md-5 pmc-logo">
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog" role="document" style="width: 600px; height: 640px; margin-top: 160px;">
                            <button type="button" class="close close-mod-btn" data-dismiss="modal" aria-label="Close" onclick="document.getElementById('videoContainer').pause()"><span aria-hidden="true">&times;</span></button>
                            <video id="videoContainer" width="590" height="340" controls style="padding: 0px;">
                                <source src="images/PMC%20-%20parents(Final).mp4" type="video/mp4"> Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#videoModal" class="radius" onclick="document.getElementById('videoContainer').play()">
                        <img src="images/PMC-Video-banner.png" alt="Parents Pockett Money Card Video" style="margin-left: -30px; padding-top: 15px;">
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 header-main">
                    <img src="images/pmc-banner-logo.png" alt="Pocket Money Card Logo">
                    <h2 class="pocket-heading">Its not a Debit or Credit Card</h2>
                    <p class="pocket-subheading">Its Pockett Money Card</p>

                    <div class="text-center preorder-margin">
                        <a href="#requestcard" class="preorder button pmc-btn">Request a new Card</a>
                        <span class="order-or">or</span>
                        <a href="#activatecard" class="preorder button pmc-btn">Activate your Card</a>
                    </div>

                </div>
            </div>
        </section>
        <!-------------End of PMC Header------------------->


        <!------------PMC Body After Login--------------->

        <section class="pmc-body row" data-ng-if="authenticated">
            <div class="col-xs-12">
                <div class="col-xs-6" data-ng-repeat="k in  kids">
                    <div data-ng-if="k.on_pmc==1 && k.card_number!='' ">
                        <div class="col-xs-12">
                            <div class="kid-card">
                                {{k.wizkid_name }} already has
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <img class="img-responsive center-block" src="images/pmc-card.png">
                        </div>
                        <div class="col-xs-12">
                            <div class="kid-card">
                                Card No. : {{k.card_number}}
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="k.on_pmc==1 && k.card_number=='' ">
                        <div class="col-xs-12">
                            <div class="kid-card">
                                {{k.wizkid_name }} card is coming soon
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <img class="img-responsive center-block" src="images/pmc-card.png">
                        </div>
                        <div class="col-xs-12">
                            <div class="kid-card">
                                Just a little patience
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="k.on_pmc==0">
                        <div class="col-xs-12 need-card">
                            <div class="col-xs-12">
                                <div class="another-card">
                                    {{k.wizkid_name }} doesnt have a card yet?
                                </div>
                            </div>
                            <div class="col-xs-12" style="
                                  margin-top: 30px;">
                                <a href="#requestcard" class="preorder button pmc-btn">Get me a card</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 no-padding need-card">
                        <div class="col-xs-12">
                            <div class="another-card">
                                Card for another kid?
                            </div>
                        </div>
                        <div class="col-xs-12" style="
                                  margin-top: 30px;">
                            <a href="#requestcard" class="preorder button pmc-btn">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!------------Feature Section--------------->
        <section class="feature-section">
            <div class="row text-center feature-row" data-ng-if="!authenticated">

                <div class="col-lg-12 col-md-12 recharge-section">
                    <div class="col-lg-12 col-md-12 recharge-heading">
                        Recharge your kids Pockett Money Card
                    </div>
                    <div class="col-lg-12 col-md-12" data-ng-show="step==1" style="">

                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <form>
                                <div class="group">
                                    <input class="input-amount" type="text" id="FirstName" data-ng-model="card" name="full_name" required />
                                    <span class="highlight"></span>
                                    <span class="bar-home"></span>
                                    <label class="isEvent recharge-label"> Card Number</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form>
                                <div class="group">
                                    <input class="input-amount" type="text" id="FirstName" data-ng-model="amount" name="full_name" required />
                                    <span class="highlight"></span>
                                    <span class="bar-home"></span>
                                    <label class="isEvent recharge-label">Amount</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form>
                                <div class="recharge-btn text-center">
                                    <button data-ng-click="rechstep1()" type="submit" id="recharge">Next</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1"></div>

                    </div>

                    <div class="col-lg-12 col-md-12" data-ng-show="step==2">

                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <form>
                                <div class="group">
                                    <input class="input-amount" type="text" id="FirstName" data-ng-model="name" name="full_name" required />
                                    <span class="highlight"></span>
                                    <span class="bar-home"></span>
                                    <label class="isEvent recharge-label">Name</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form>
                                <div class="group">
                                    <input class="input-amount" type="text" id="FirstName" data-ng-model="message" name="full_name" required />
                                    <span class="highlight"></span>
                                    <span class="bar-home"></span>
                                    <label class="isEvent recharge-label">Message</label>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <form>
                                <div class="recharge-btn text-center">
                                    <button data-ng-click="rechstep2()" type="submit" id="recharge">Pay</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1"></div>

                        <!--  <ul class="recharge-ul">
                            
                                <li class="recharge-li">
<form>
                                    <div class="group">
                                        <input class="input-amount" type="text" id="FirstName" name="full_name" required />
                                        <span class="highlight"></span>
                                        <span class="bar-home"></span>
                                        <label class="isEvent recharge-label">Enter your Card Number</label>
                                    </div>
 </form>
                                </li>
                                <li class="recharge-li">
                                   <form>
                                    <div class="group">
                                        <input class="input-amount" type="text" id="FirstName" name="full_name" required />
                                        <span class="highlight"></span>
                                        <span class="bar-home"></span>
                                        <label class="isEvent recharge-label">Amount</label>
                                    </div>
                                    </form>
                                </li>
                                <li class="recharge-li">
                                    <form>
                                    <div class="recharge-btn text-center">
                                        <button type="submit" id="recharge">Next</button>
                                    </div>
                                    </form>
                                </li>
                           
                        </ul>-->
                    </div>



                </div>

                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-2 col-md-2">
                    <img src="images/feature-1.png">
                    <br/>
                    <span class="feature-text">Smart Banking Tool</span>
                </div>
                <div class="col-lg-2 col-md-2">
                    <img src="images/feature-2.png">
                    <br/>
                    <span class="feature-text">100% Child Safe</span>
                </div>
                <div class="col-lg-2 col-md-2">
                    <img src="images/feature-3.png">
                    <br/>
                    <span class="feature-text">1 Minute Acivation</span>
                </div>
                <div class="col-lg-2 col-md-2">
                    <img src="images/feature-4.png">
                    <br/>
                    <span class="feature-text">No Bank Account </span>
                </div>
                <div class="col-lg-2 col-md-2 right-div-padd">
                    <img src="images/feature-5.png">
                    <br/>
                    <span class="feature-text">No Documentation</span>
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>
        </section>


        <!------------Card Section--------------->
        <section id="section2" class="card-section" data-ng-if="!authenticated">
            <section class="row card-subsection text-center">
                <div class="col-lg-12 col-md-12 heading-pmc">
                    The Pockett Money Card
                </div>
                <!--<div class="col-lg-4 col-md-4 small-4 card-left">
                    <p class="card-heading">Accepted across</p>
                    <ul class="store-ul">
                        <li class="store store-style">
                            <img src="images/master-card.png">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 small-4 card-middle">
                    <img class="pmc-card" src="images/pmc-card.png" alt="Pocket Money Card">
                </div>
                <div class="col-lg-4 col-md-4 small-4 card-right">
                    <p class="card-heading">In association with</p>
                    <ul class="store-ul">
                        <li class="store"><img src="images/yes-bank.png"></li>
                    </ul>
                </div>-->

                <section class="card-acceptance">
                    <ul class="col-xs-12" style="margin:0; padding:0;">
                        <li class="card-bank cb-lt">
                            <p class="card-heading">Accepted across</p>
                            <ul class="store-ul">
                                <li class="store store-style">
                                    <img src="images/master-card.png">
                                </li>
                            </ul>
                        </li>
                        <li class="card-bank cb-md">
                            <img class="pmc-card" src="images/pmc-card.png" alt="Pocket Money Card">
                        </li>
                        <li class="card-bank cb-rt">
                            <p class="card-heading">In association with</p>
                            <ul class="store-ul">
                                <li class="store"><img src="images/yes-bank.png"></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section class="row text-center">

                    <div class="col-lg-12 col-md-12">
                        <div class="heading-desc">
                            Pockett Money Card is a 21st century digital educational tool that can be used by Parents to allow their children to take responsibility to their own savings and spendings.
                        </div>
                    </div>

                </section>
                <section class="store-section">
                    <ul class="store-ul store-ul-bottom">
                        <li class="store-bottom used-at"> Can be used at :</li>
                        <li class="store-bottom store-style-bottom"><img src="images/stores.png"> STORES</li>
                        <li class="store-bottom"><img src="images/online.png"> ONLINE</li>
                    </ul>
                    <br/>
                    <ul class="store-ul no-atm">
                        <li class="store-bottom used-at">
                            No ATM Withdrawal :
                        </li>
                        <li class="store-bottom">
                            <img src="images/atm.png">
                        </li>
                    </ul>

                </section>
            </section>

        </section>


        <!------------Difference Section--------------->
        <section id="section3" class="difference row" data-ng-if="!authenticated">
            <div class="col-lg-12 col-md-12 text-center" data-ng-if="!authenticated">
                <div class="diff-heading">
                    Our Edge
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center" data-ng-if="!authenticated">
                <div class="diff-desc">
                    Difference between Pockett Money Card and Bank account Linked Cards
                </div>
            </div>
        </section>
        <section class="row text-center diff-col" data-ng-if="!authenticated">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-4 col-md-4 diff-col-heading">
                Pockett Money Card
            </div>
            <div class="col-lg-2 col-md-2 diff-col-heading">VS</div>
            <div class="col-lg-4 col-md-4 diff-col-heading">
                Bank Account/Linked Card
            </div>
            <div class="col-lg-1 col-md-1"></div>
        </section>
        <section class="row diff-table" data-ng-if="!authenticated">
            <div class="col-lg-1 col-md-1"></div>
            <div class="col-lg-4 col-md-4 diff-points diff-points-grey acc-lt">
                No pre-conditions other than minimum age
                <br/>(8 yrs) of child.
            </div>
            <div class="col-lg-2 col-md-2 diff-points-grey">
                <div class="col-lg-6 col-md-6 diff-line">&nbsp;</div>
                <div class="col-lg-6 col-md-6 diff-circle">
                    <div class="diff-no">1</div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 diff-points diff-points-grey acc-rt">
                Parents must already have or open a new guardian account
            </div>
            <div class="col-lg-1 col-md-1"></div>

            <div class="col-xs-12" style="padding:0;">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-4 col-md-4 diff-points acc-lt">
                    No branch-visit required for verification
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="col-lg-6 col-md-6 diff-line">&nbsp;</div>
                    <div class="col-lg-6 col-md-6 diff-circle">
                        <div class="diff-no">2</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 diff-points acc-rt">
                    Minimum 1 branch visit mandatory
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>

            <div class="col-xs-12" style="padding:0;">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-4 col-md-4 diff-points diff-points-grey acc-lt">
                    Age inappropriate transactions blocked by mastercard
                </div>
                <div class="col-lg-2 col-md-2 diff-points-grey">
                    <div class="col-lg-6 col-md-6 diff-line">&nbsp;</div>
                    <div class="col-lg-6 col-md-6 diff-circle">
                        <div class="diff-no">3</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 diff-points diff-points-grey acc-rt">
                    No special feature for blocking
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>

            <div class="col-xs-12" style="padding:0;">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-4 col-md-4 diff-points acc-lt acc-btm">
                    Instant loading of money possible
                </div>
                <div class="col-lg-2 col-md-2 acc-btm" style="height: 80px;">
                    <div class="col-lg-6 col-md-6 diff-line">&nbsp;</div>
                    <div class="col-lg-6 col-md-6 diff-circle">
                        <div class="diff-no">4</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 diff-points acc-rt acc-btm" style="float:left;">
                    Standard NEFT / IMPS time delay
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>

        </section>


        <!---------Pockett Money Card Cost---------->
        <section id="section4" class="cost row" data-ng-if="!authenticated">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="cost-heading">
                    How much does Pockett Money Card costs?
                </div>
            </div>
            <div class="row cost-details">
                <div class="col-lg-4 col-md-4 col-xs-4">
                    <img class="img-responsive discount-border" src="images/free-card.png">
                    <br/>
                    <div class="first-year col-lg-12 col-md-12">For the First Year</div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4">
                    <div class="free-desc discount-border">
                        Your first year with Pockett Money Card is completely free. Even the activation charges of INR 100 we collect, are redeposited to the card in 24 hours. Closing your account is free and can happen anytime.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-4">

                    <ul class="ul-activation">
                        <li class="activation">
                            Activation charge of <span class="inr">INR 100</span>
                        </li>
                        <li class="activation">
                            Replacement Cost of INR 100
                        </li>
                        <li class="activation">
                            Purchases abroad @ 5% extra
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center no-charge">
                <p class="hidden-charge">
                    A complete peace of mind with NO HIDDEN CHARGES.
                </p>
            </div>




        </section>


        <!---------Benefits Scetion---------->
        <section id="section5" class="benefits row" data-ng-if="!authenticated">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="ben-heading">
                    The Benefits
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="ben-desc">
                    A smart digital banking tool for new age families
                </div>
            </div>
        </section>
        <section class="row ben-col" data-ng-if="!authenticated">

            <div class="col-xs-1 hidden-xs"></div>
            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="col-lg-12 col-md-12 clip-div-org">
                    <div class="clip-heading">For Kids</div>
                    <div class="text-center"><img src="images/plus-org.png"></div>

                </div>
                <div class="col-lg-12 col-md-12 first-diff">
                    <ul class="org-ul">
                        <li class="ben-li">
                            <img src="images/card.png">
                        </li>
                        <li class="ben-li clip-col">
                            Get a dedicated card for yourself
                        </li>
                    </ul>
                    <br/>
                    <ul class="org-ul">
                        <li class="ben-li">
                            <img src="images/bal-org.png">
                        </li>
                        <li class="ben-li clip-col">
                            Avail exclusive offers from your favourite brands
                        </li>
                    </ul>
                    <br/>
                    <ul class="org-ul">
                        <li class="ben-li">
                            <img src="images/cash-org.png">
                        </li>
                        <li class="ben-li clip-col">
                            Receive cash gifts from family, anywhere at anytime
                        </li>
                    </ul>
                    <ul class="org-ul">
                        <li class="ben-li">
                            <img src="images/track-org.png">
                        </li>
                        <li class="ben-li clip-col">
                            Track and analyse spends
                        </li>
                    </ul>
                    <ul class="org-ul">
                        <li class="ben-li">
                            <img src="images/save-org.png">
                        </li>
                        <li class="ben-li clip-col">
                            Plan and save for big-budget buys
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-xs-12">
                <div class="col-lg-12 col-md-12 clip-div-blue">
                    <div class="clip-heading">For Parents</div>
                    <div class="text-center"><img src="images/plus-blue.png"></div>
                </div>
                <div class="col-lg-12 col-md-12 second-diff">
                    <ul class="blue-ul">
                        <li class="ben-li">
                            <img src="images/smart-blue.png">
                        </li>
                        <li class="ben-li clip-col">
                            Get children money-smart
                        </li>
                    </ul>
                    <br/>
                    <ul class="blue-ul">
                        <li class="ben-li">
                            <img src="images/help-blue.png">
                        </li>
                        <li class="ben-li clip-col">
                            Help immediately in emergency
                        </li>
                    </ul>
                    <br/>
                    <ul class="blue-ul">
                        <li class="ben-li">
                            <img src="images/noti-blue.png">
                        </li>
                        <li class="ben-li clip-col">
                            Receive instant notification on each transaction
                        </li>
                    </ul>
                    <ul class="blue-ul">
                        <li class="ben-li">
                            <img src="images/active-blue.png">
                        </li>
                        <li class="ben-li clip-col">
                            Activate/De-activate at your wish
                        </li>
                    </ul>
                    <ul class="blue-ul">
                        <li class="ben-li">
                            <img src="images/stop-blue.png">
                        </li>
                        <li class="ben-li clip-col stop-col">
                            Stop worrying about cash-theft with a complete digital solution
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-1 hidden-xs"></div>
        </section>


        <!---------Steps for PMC CARD Scetion---------->
        <section class="row steps-section" data-ng-if="!authenticated">
            <div class="col-lg-12 col-md-12 text-center steps-row">
                <div class="steps-heading">
                    Steps to get Pockett Money Card
                </div>
            </div>
            <div class="col-xs-12">
                <div class="request-section center-block">
                    <div class="col-lg-12 col-md-12 request-card">
                        <span class="request-card-text">Request a New Card</span>
                        <br>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <span class="steps-span">Step 01</span>
                        <br>
                        <img class="req-img" src="images/request_step01.png">
                        <br>
                        <span class="request-bottom">Give us your basic details </span>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <span class="steps-span">Step 02</span>
                        <br>
                        <img class="req-img" src="images/request_step02.png">
                        <br>
                        <span class="request-bottom">Receive the welcome kit at home</span>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <span class="steps-span">Step 03</span>
                        <br>
                        <img class="req-img" src="images/request_step03.png">
                        <br>
                        <span class="request-bottom">Activate your card online</span>
                    </div>
                    <div class="col-lg-3 col-md-3 align-self-middle">
                        <a href="#requestcard" class="request-btn pmc-btn">Request a new Card</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 col-md-12">
                <ul class="or-ul">
                    <li class="or-hr">
                        <hr class="hr-line">
                    </li>
                    <li class="or-hr or-text">
                        Or
                    </li>
                    <li class="or-hr">
                        <hr class="hr-line">
                    </li>
                </ul>
            </div>

            <div class="al-request-section">
                <div class="col-lg-12 col-md-12">
                    <div class="col-lg-12 col-md-12 request-card">
                        <span class="already-card-text">Already have a Welcome Kit</span>
                        <br>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <span class="al-steps-span">Step 01</span>
                        <br>
                        <img class="req-img" src="images/activate_step01.png">
                        <br>
                        <span class="request-bottom">Activate your card online</span>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <span class="al-steps-span">Step 02</span>
                        <br>
                        <img class="req-img" src="images/activate_step02.png">
                        <br>
                        <span class="request-bottom">Load money and start using it</span>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <span class="al-steps-span">Step 03</span>
                        <br>
                        <img class="req-img" src="images/activate_step03.png">
                        <br>
                        <span class="request-bottom">Register / Login</span>
                    </div>
                    <div class="col-lg-3 col-md-3 align-self-middle">
                        <a href="#activatecard" class="request-btn pmc-btn">Activate your Card</a>
                    </div>
                </div>

            </div>
        </section>

        <!----------Download Section------------>
        <section class="row download">
            <div class="col-lg-12 col-md-12 down-back">
                <img src="images/footer.png" style="width:100%;">
            </div>
            <ul>
                <li class="app-desc"> Download our"Shirsa Parent 's App" to </li>
                <li class="app-sub-desc">
                    <span class="app-updates">
                      - Receive realtime alerts
                   </span>
                    <br/>
                    <span class="app-updates">
                       - Lock / Unlock card &amp; Reset PIN
                   </span>
                    <br/>
                    <span class="app-updates">
                      - Load money with single click 
                   </span>
                    <br/>
                    <span class="app-updates">
                       - Share and create saving goals for kid
                   </span>

                </li>
                <li class="google-app">
                    <img src="images/google.png" alt="Google App">
                </li>
                <li class="apple-app">
                    <img src="images/apple.png" alt="Google App">
                </li>
            </ul>

            <!--  <ul class="download-section">
               <li class="app-descpt"> Download our"Shirsa Parent's App" to </li>
                 <li class="app-sub-descpt">
                    <span class="app-updates">
                      - Receive realtime alerts
                   </span>
                    <br/>
                    <span class="app-updates">
                       - Lock / Unlock card &amp; Reset PIN
                   </span>
                    <br/>
                    <span class="app-updates">
                      - Load money with single click 
                   </span>
                    <br/>
                    <span class="app-updates">
                       - Share and create saving goals for kid
                   </span>

                </li>
                <li>
                    
                </li>
            </ul>-->
        </section>

        <!----------Blog Section------------>
        <section class="row blogs">
            <div class="col-lg-12 col-md-12 text-center" style="padding:2em 0em;">
                <div style=" color: #3897d3;
    font-family: 'Dosis SBold';
    font-size: 35px;">
                    Blog
                </div>

            </div>
            <div class="col-lg-12 col-md-12" style="text-align:left; padding:3em;">
                <div class="col-lg-3 col-md-3"><img class="blog-img" src="images/PMC_Blog.png" style="height: 165px;"></div>
                <div class="col-lg-3 col-md-3">
                    <div class="row" style="    color: #706C69;
    font-family: 'Dosis Book';
    font-size: 16px;">
                        <div class="col-lg-12 col-md-12">
                            <h4 class="blog-heading"><b>Stay Focused and Sparkle!</b></h4></div>

                        <div class="col-lg-7 col-md-7"><small><i class="fa fa-calendar"></i>&nbsp;Aug 23, 2016</small></div>
                        <div class="col-lg-5 col-md-5"><small><i class="fa fa-user"></i>&nbsp;Shirsa </small>
                        </div>

                        <div class="col-lg-12 col-md-12" style="padding-top:5px;">“Where does money get printed?” “How do we pay using a card?” These are the most commonly asked questions by....</div>
                        <div class="col-lg-12 col-md-12 text-right"><a class="blog-rm" target="blank" href="http://blog.pockettmoneycard.com/">Read More</a></div>

                    </div>
                </div>
                <div style="border-bottom:1px solid #e5e5e5 ; margin:20px;margin-bottom:30px;" class="col-lg-12 col-md-12 visible-xs visible-sm">

                </div>
                <div class="col-lg-3 col-md-3"><img class="blog-img" src="images/Shirsa-Blog-19.png"></div>
                <div class="col-lg-3 col-md-3">
                    <div class=" row" style="    color: #706C69;
    font-family: 'Dosis Book';
    font-size: 16px;">
                        <div class="col-lg-12 col-md-12">
                            <h4 class="blog-heading"><b>More power-more...</b></h4></div>

                        <div class="col-lg-7 col-md-7"><small><i class="fa fa-calendar"></i>&nbsp;Nov 18,  2016</small></div>
                        <div class="col-lg-5 col-md-5"><small><i class="fa fa-user"></i>&nbsp;Shirsa </small>
                        </div>

                        <div class="col-lg-12 col-md-12" style="padding-top:5px;">“With great power, comes great responsibility!”, this famous dialogue from the movie Spider Man....</div>
                        <div class="col-lg-12 col-md-12 text-right">
                            <a target="blank" class="blog-rm" href="http://blog.pockettmoneycard.com/">Read More</a></div>

                    </div>
                </div>
            </div>
        </section>


        <!----------Partners Section------------>
        <section class="row partners">
            <div class="col-lg-12 col-md-12 text-center">
                <div class="asection-title">
                    <div class="as-line"></div>
                    <span>As featured on</span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 text-center">
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:17px; height:52px;">
                    <img src="images/business-today.jpg">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:4px; height:52px;">
                    <img src="images/bs.png">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:6px; height:52px;">
                    <img src="images/your-story.jpg">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:6px; height:52px;">
                    <img src="images/child-mag.png">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:1px; height:52px;">
                    <img src="images/entreprenuer-mag.png">
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6" style="padding-top:8px; height:52px;">
                    <img src="images/tech.png">
                </div>



            </div>
        </section>




    </section>
    <!--End of Home Section-->

</body>
<pmc-footer></pmc-footer>