<style>
    .dropdown-child {
        border-bottom: 1px solid #CCC;
        width: 150px;
        text-align: left;
        position: relative;
        float: left;
    }
    
    .dropdown-child>ul>li>a.icon-child {
        display: block;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #3897D3;
        white-space: nowrap;
        position: relative;
        font-size: 18px;
        font-family: 'Dosis Book';
    }
    
    .passbook-block {
        background: #3897d3;
        padding: 20px 0px;
        -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.75);
        z-index: 4;
    }
    
    .thousand-text {
        color: #FFFFFF;
        font-size: 28px;
        font-family: 'Dosis SBold';
        line-height: 1.1em;
        text-align: left;
    }
    
    .caret-child {
        display: inline-block;
        width: 0;
        height: 0;
        right: 10px;
        position: absolute;
        margin-top: 10px;
        vertical-align: middle;
        border-top: 8px dashed;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
    }
    
    .child-bal {
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Dosis Book';
        line-height: 0.9em;
        text-align: left;
    }
    
    .child-card-no {
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Dosis Medium';
    }
    
    .pass-filters {
        background: #e5e5e5;
        z-index: 0;
        padding: 10px 0px 0px;
    }
    
    .filters-diff {
        color: black;
        font-size: 18px;
        font-family: 'Dosis SBold';
        padding: 10px 0px;
        cursor: pointer;
    }
    
    .filters-selected {
        border-bottom: 2px solid #3897d3;
        color: #3897d3;
    }
    
    .search-trans {
        color: #ababab;
        font-size: 18px;
        font-family: 'Dosis Book';
        padding: 5px 0px;
        border-bottom: 1px solid #ababab;
        width: 250px;
        float: right;
        text-align: left;
    }
    
    .search-img {
        float: left;
        margin-right: 15px;
        margin-top: 1px;
    }
    
    .search-text {
        width: 200px !important;
        background: #e5e5e5;
        border-bottom: none !important;
    }
    
    .all-trans {
        background: #FFFFFF;
        padding: 0px 25px;
        margin-bottom: 5em;
    }
    
    .spent-trans {
        background: #FFFFFF;
        padding: 0px 25px;
        margin-bottom: 5em;
    }
    
    .recv-trans {
        background: #FFFFFF;
        padding: 0px 25px;
        margin-bottom: 5em;
    }
    
    .spend-statement {
        margin-top: 20px;
        border-top: 1px solid #3897d3;
    }
    
    .recv-statement {
        margin-top: 20px;
        border-top: 1px solid #ef9724;
    }
    
    .space-div {
        margin: 20px 0px;
    }
    
    .pass-spent {
        background: #3897d3;
        font-size: 14px;
        font-family: 'Dosis Book';
        width: 80px;
        padding: 5px 0px;
        color: #FFFFFF;
    }
    
    .pass-recv {
        background: #ef9724;
        font-size: 14px;
        font-family: 'Dosis Book';
        width: 80px;
        padding: 5px 0px;
        color: #FFFFFF;
    }
    
    .spent-img {
        margin-top: -3px;
    }
    
    .div-date {
        width: 100px;
        padding: 10px 0px;
        background: #FFFFFF;
        border: 1px solid #ccc;
        font-size: 24px;
        font-family: 'Dosis SBold';
        color: black;
    }
    
    .div-year {
        width: 100px;
        padding: 5px 0px;
        background: #CCC;
        font-size: 14px;
        font-family: 'Dosis SBold';
    }
    
    .trans-style {
        font-size: 18px;
        font-family: 'Dosis Medium';
        padding: 25px 0px;
        color: black;
        text-align: left;
    }
    
    .grey-color {
        color: #ababab;
    }
    
    .trans-img-margin {
        margin-top: -5px;
    }
</style>
<pmc-header></pmc-header>

<body>

    <section class="row passbook-page">
        <div class="col-lg-12 col-md-12 text-center">
            <div class="passbook-header">Digital Passbook</div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-xs-12 passbook-block">
                <div class="col-md-4" style="padding-top:10px; padding-left: 30px;">
                    <div class="dropdown-child center-block">
                        <button class="login-primary-header dropdown-toggle" type="button" data-toggle="dropdown" style="color:#FFFFFF;">{{selectedKid.wizkid_name}}
                            <span class="caret-child"></span></button>
                        <ul class="dropdown-menu" style="margin: 1px 0 0;
    border-radius: 0px;
    left: -6px;">
                            <li data-ng-repeat="c in kids" style="margin-top: -4px;">
                                <a class="icon-child" data-ng-click="getPassbookData('all',$index)">
{{c.wizkid_name}}</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-4" style="padding-right: 0;">
                        <img src="images/pass-card.png">
                    </div>
                    <div class="col-xs-8" style="padding-left: 0;">
                        <div class="thousand-text">
                            Rs {{selectedKid.amount}}
                        </div>
                        <div class="child-bal">
                            Your Childs Card balance
                        </div>
                    </div>
                </div>
                <div class="col-md-4 child-card-no text-center">
                    Card No : {{selectedKid.card_number}}
                    <br/> Valid Upto : {{selectedKid.card_validity}}
                </div>
            </div>


            <div class="col-xs-12 pass-filters no-padding">
                <div class="col-xs-4 no-padding">

                    <div class="col-xs-4 filters-diff filters-diff-all filters-selected" data-ng-click="getPassbookData('all',child_index)">
                        All
                    </div>
                    <div class="col-xs-4 filters-diff filters-diff-recv" data-ng-click="getPassbookData('received',child_index)">
                        Received
                    </div>
                    <div class="col-xs-4 filters-diff filters-diff-spent " data-ng-click="getPassbookData('spent',child_index)">
                        Spent
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="search-trans">
                        <img class="search-img" src="images/search-grey.png">
                        <input data-ng-model="searchText" class="search-text" type="text" placeholder="Search by Order ID">
                    </div>
                </div>
            </div>

            <!------------------All Transactions---------------------->

            <div data-ng-if="pass.length<1" class="well col-xs-12 ">Oops!! No results found.</div>
            <div data-ng-repeat="t in pass | filter:{tx_id:searchText}" class="col-xs-12 ">
                <div data-ng-class="t.type=='Spent'?'spend-statement':'recv-statement'" class="col-xs-12  no-padding">
                    <div data-ng-class="t.type=='Spent'?'pass-spent':'pass-recv'">
                        <img data-ng-class="t.type=='Spent'?'spent-img':'pass-recv'" class="" src="images/pass-up.png"> {{t.type=='Spent'?'Spent':'Received'}}
                    </div>
                </div>
                <div class="col-xs-12 no-padding space-div">

                    <div class="col-xs-2 no-padding">
                        <div class="div-date">
                            6 Jun
                        </div>
                        <div class="div-year">
                            2016
                        </div>
                    </div>
                    <div class="col-xs-3 trans-style">
                        <span class="grey-color">Transaction ID :</span> {{t.tx_id}}
                    </div>
                    <div class="col-xs-3 trans-style">
                        <span class="grey-color"> Vendor name :</span>{{t.name}}
                    </div>
                    <div class="col-xs-4 trans-style">
                        <img class="trans-img-margin" src="images/success-trans.png"> <span class="grey-color"> Successful Transaction of Rs.</span> {{t.amount}}
                    </div>

                </div>








            </div>



        </div>
        <div class="col-md-1"></div>

    </section>
</body>

<pmc-footer></pmc-footer>