<!----------Footer Section------------>

        <!-- TECHNICAL SKILLS SECTION -->
        <section class="footer-section">

            <div class="l-contactus-section l-section">

             
                    <div class="row footer-bottom-space">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="col-lg-4 col-md-4 col-md-6 col-xs-6 " style="color:white; text-align:left; padding-left:30px; line-height: 2.2em;">

                            <a href="http://shirsa.in/team.html" target="_blank" class="footer-link">About Us</a>
                            <br/>
                            <a href="http://shirsa.in/index.html" target="_blank" class="footer-link">Parents</a>
                            <br/>
                        <a href="#" target="" class="footer-link">Enrolment</a>
                            <br/> 
                            <a href="#" target="" class="footer-link">Safety</a>
                            <br/>
                            <a href="http://www.shirsa.in/partners.html" target="_blank" class="footer-link">Partner</a>
                            <br/>

                            <a target="_blank" href="http://shirsa.in/brands.html" class="footer-link">Media</a>
                            <br/>

                        </div>
                        <div class="col-lg-4 col-md-4 col-md-6 col-xs-6 " style="text-align:left; line-height: 2.2em; padding-left: 0px;">

                            <a href="shirsa.in/index.html#faq" target="_blank" class="footer-link">FAQ</a>
                            <br/> 
                            <a target="_blank" href="tnc.pdf" class="footer-link">Terms &amp; Conditions</a>
                            <br/>

                            <a target="_blank" href="privacy.pdf" class="footer-link">Privacy Policy</a>
                            <br/>
                            <br/>

                        </div>
                        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs columns  footer-link text-center">

                            Our Other Product :
                            <br/>
                            <a href="https://planetofgui.com" target="_blank"><img style="padding-top: 8px;
    padding-bottom: 10px;" src="images/footer-planetofgui-logo.png"></a>
                            <br/>
                            <a href="https://newspik.in" target="_blank"><img src="images/footer_newspik_logo.png"></a>


                        </div>
                    </div> 
                       <div class="col-lg-6 col-md-6 col-xs-12">
                        
                        
                          <div class="col-lg-6 col-md-6 hidden-sm hidden-xs columns  footer-link">

                            <div class="col-xs-12" style="
    background: #647f90;
    border-radius: 20px;
">
                                <div class="col-xs-12" style="
    padding-top: 10px;font-family: 'Dosis Book';
">
                                   <ul class="contact-ul">
                                       <li class="contact-li">
                                           <hr class="contact-line"/>
                                       </li>
                                       <li class="contact-li">
                                         <span class="contact-text">
                                             Contact Us
                                         </span>  
                                       </li>
                                       <li class="contact-li">
                                           <hr class="contact-line"/>
                                       </li>
                                   </ul>
                                    
                                </div>
                                <div class="col-xs-12" style="
   margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Dosis Book';
">
                                                 hello@pockettmoneycard.com
                                                  </div>
                                <div class="col-xs-12" style="
       color: #FFFFFF;
    font-size: 20px;
    font-family: 'Dosis Book';
    padding-bottom: 20px;
    text-align: center;
">
                                    1800 112 233
                                </div>
                            </div>
                            

                        </div>
                        
                        
                        
                        
                          <div class="col-lg-6 col-md-6 hidden-sm hidden-xs columns  footer-link">

                            <div class="col-xs-12" style="
    background: #FFFFFF;
    border-radius: 20px;
">
                                <div class="col-xs-12" style="
    padding-top: 10px;
">
                                    <img class="img-responsive" src="images/shirsa-logo.png">
                                </div>
                                <div class="col-xs-12" style="
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
">
                                    <hr style="
    margin-bottom: 0;
    padding-top: 5px;
    margin-top: 5px;
">
                                </div>
                                <div class="col-xs-12" style="
      color: #988FAA;
    font-size: 13px;
    font-family: 'Dosis Book';
    padding-bottom: 8px;
    text-align: center;
    padding-top: 5px;
">
                                    A Division of Shirsa Labs Worldwide.
                                </div>
                            </div>
                            <div class="col-xs-12" style="    padding-top: 2em;
    padding-bottom: 1em;">
                                Follow us on:
                                <a href="http://www.facebook.com/shirsalabs" target="_blank"><img src="images/fb-vector.png"></a>
                                <a href="https://twitter.com/Shirsain" target="_blank"><img src="images/twitter-vector.png"></a>
                            </div>

                        </div>
                    </div>
                
                        

                    </div>
                    <!-- row -->





                <div class="l-copyright text-center" style="background: #333;">

                    <div class="container">
                        <!--
                           <div class="m-social-icons">
    <a href="index.html#"><i class="fa fa-facebook"></i></a>
    <a href="index.html#"><i class="fa fa-twitter"></i></a>
    <a href="index.html#"><i class="fa fa-dribbble"></i></a>
    <a href="index.html#"><i class="fa fa-linkedin"></i></a>
    <a href="index.html#"><i class="fa fa-github"></i></a>
</div>
-->
                        <!--m-social-icons-->

                        <p class="text-center footer-link-bottom">A Division of Shirsa Labs Worldwide | Privacy - updated 4/2016 | Terms of use - updated 4/2016</p>
                    </div>
                    <!-- container -->

                </div>
                <!-- l-copyright -->

            </div>
            <!-- l-contactus-section -->

        </section>