<style>
    .dash-header{
        background: #f2f9fd;
       padding: 20px 15px;
    }
    .parents-dash-header{
      font-size: 28px;
    color: #eeb11b;
    font-family: 'Dosis SBold';
    text-align: right;
    padding-top: 5px;
    }
</style>
 
 
 
 
<!--------------Parents Login Modal------------>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;
    height: 400px;
    margin-top: 130px;">
        <div class="modal-content">
            <div class="col-xs-12 no-padding">
                <div class="col-xs-6 login-mod-left">
                    <div class="left-mod-header">
                        For the Digital &amp; Tech-savy Generation
                    </div>

                </div>
                <div class="col-xs-6 login-mod-right">
                    <button type="button" class="close close-mod-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="row" style="padding: 3em 0 0; margin:0px;
    background: #2675a6;">
                        <div class="col-xs-12 text-center no-padding">
                            <div class="login-tab tab-clicked-modal center-block">
                                Login
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <form action="http://www.pockettmoneycard.com/backend/saveForm.php" method="post"><span data-ng-if="isError" class="error-msg ng-binding ng-scope" style="
    margin-top: 55px;
    color: #e92127;
    font-size: 20px;
    font-weight: bold;
">{{errorMessage}}</span>
                            <div class="group1">


                                <input class="input-login" type="text" id="UserName" name="full_name" data-ng-model="customer.email" required />
                                <span class="highlight"></span>
                                <span class="bar-home"></span>
                                <label class="isEvent recharge-label">Parents Email</label>
                            </div>


                            <div class="group2">
                                <input class="input-login" type="password" data-ng-model="customer.password" id="Password" name="password" required />
                                <span class="highlight"></span>
                                <span class="bar-home"></span>
                                <label class="isEvent recharge-label">Password</label>
                            </div>
                            <div class="forgot-pass">
                                <span>Forgot Password&#63;</span>
                            </div>
                            <div class="col-xs-12">
                                <div class="login-modal-btn pmc-btn center-block" data-ng-click="login()">
                                    Login
                                </div>
                                <img data-ng-show="showLoader" src="images/17.gif">
                            </div>
                        </form>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
 
  
  <!-----Home Header Present at Banner section---->
  
   <section data-ng-if="!authenticated && page=='home'" data-ng-class="page=='home'?'header-menu-1':'header-menu-all'" class="header-menu tucked-menu">
    <div class="tucked-menu-header">
        <ul class="order-header-ul">
            <li class="header-li">
                <a href="#home"><img class="img-responsive" src="images/pmc-scroll-logo.png" alt="Pockett Money Card"></a>
            </li>
            <li class="header-li order-header-li">
                <div class="text-center order-header-btn">
                    <a href="#requestcard" class="preorder button pmc-btn">Request a new Card</a>
                    <span class="order-or-header">or</span>
                    <a href="#activatecard" class="preorder button pmc-btn">Activate your Card</a>
                </div>
            </li>
            <li class="header-li">
                <ul class="mid-header">
                    <li class="mid-left line-mid">
                        <div>Contact Us</div>

                    </li>
                    <li class="mid-left">
                        <div>Help</div>
                    </li>
                </ul>
            </li>
            <li class="header-li" data-toggle="modal" data-target="#myModal">
                <ul class="left-header-scroll">
                    <li class="mid-right">
                        <img src="images/blue-key.png">
                    </li>
                    <li class="mid-right">
                        <a>Login</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--<ul class="left-header">
            <div class="dropdown">
  <button class="login-primary-header dropdown-toggle" type="button" data-toggle="dropdown">Username
  <span class="caret-custom"></span></button>
  <ul class="dropdown-menu" style="margin: 6px 0 0;
    border-radius: 0px;
    left: -6px;
    min-width: 190px;">
      <li style="margin-top: -4px;"><a class="icon-blue" href="#"><i class="icon-saving"></i>Saving Goals</a></li>
    <li><a class="icon-blue" href="#blockcard"><i class="icon-block"></i>Lock / Unlock</a></li>
    <li><a class="icon-blue" href="#resetpin"><i class="icon-reset"></i>Reset Pin</a></li>
     <li><a class="icon-blue" href="#"><i class="icon-passbook"></i>Digital Passbook</a></li>
      <li style="margin-bottom: -4px;"><a class="icon-blue" href="#"><i class="icon-profile"></i>Edit Profile</a></li>
  </ul>
</div>
               </ul>-->


    </div>
</section>
<!-------------End of PMC Header------------------->



<!-----Home Header when not logged in---->
<div class="request-header tucked-menu" data-ng-class="page=='home'?'header-menu-1':'header-menu-all'" data-ng-if="!authenticated && page!='home'">

 <ul class="header-ul">
       <li class="header-li logo-li">
            <a href="#home"><img class="img-responsive" src="images/pmc-scroll-logo.png" alt="Pockett Money Card"></a>
        </li>
       
        <li class="header-li">
            <ul class="mid-header">
                <li class="mid-left line-mid">
                    <div>Contact Us</div>

                </li>
                <li class="mid-left">
                    <div>Help</div>
                </li>
            </ul>
        </li>
        <li class="header-li">
            <ul class="left-header">
                 <li class="mid-right">
                    <img src="images/blue-key.png">
                </li>
                <li class="mid-right" data-toggle="modal" data-target="#myModal">
                  <a>Login</a>
                </li>
               <!-- <div class="dropdown">
                    <button class="login-primary-header dropdown-toggle" type="button" data-toggle="dropdown">{{puser.full_name}}
                        <span class="caret-custom"></span></button>
                    <ul class="dropdown-menu" style="margin: 6px 0 0;
    border-radius: 0px;
    left: -6px;
    min-width: 190px;">
                        <li style="margin-top: -4px;"><a class="icon-blue" href="#savings"><i class="icon-saving"></i>Saving Goals</a></li>
                        <li><a class="icon-blue" href="#blockcard"><i class="icon-block"></i>Lock / Unlock</a></li>
                        <li><a class="icon-blue" href="#resetpin"><i class="icon-reset"></i>Reset Pin</a></li>
                        <li><a class="icon-blue" href="#passbook"><i class="icon-passbook"></i>Digital Passbook</a></li>
                        <li><a class="icon-blue" href="#profile"><i class="icon-profile"></i>Edit Profile</a></li>
                        <li><a class="icon-blue" href="#setlimits"><i class="icon-limits"></i>Set Limits</a></li>
                        <li style="margin-bottom: -4px;"><a class="icon-blue" data-ng-click="logout()"><i class="icon-logout"></i>Logout</a></li>

                    </ul>
                </div>-->
            </ul>

        </li>
    </ul>
</div>


<!-----Home Header when logged in---->
<div class="request-header" data-ng-if="authenticated">
   
   


<div class="col-xs-12 no-padding dash-header">
    <div class="col-sm-2">
            <a href="#home"><img class="img-responsive" src="images/pmc-banner-logo.png" alt="Pockett Money Card"></a>
    </div>
    <div class="col-sm-5">
        <div class="parents-dash-header">
            Welcome to Parents Dashboard
        </div>
    </div>
    <div class="col-sm-5">
       <div class="col-xs-6 header-li">
            <ul class="head-ul-float">
                <li class="mid-left line-mid">
                    <div>Contact Us</div>
                </li>
                <li class="mid-left">
                    <div>Help</div>
                </li>
            </ul>
       </div>
    <div class="col-xs-6 header-li">
              <div class="dropdown login-dash">
                    <button class="login-primary-header dropdown-toggle" type="button" data-toggle="dropdown">{{puser.full_name}}
                        <span class="caret-custom"></span></button>
                    <ul class="dropdown-menu" style="margin: 1px 0 0;
    border-radius: 0px;
    left: 0px;
    min-width: 190px;
    background: #f6f6f6;">
                       <!-- <li style="margin-top: -4px;"><a class="icon-blue" href="#savings"><i class="icon-saving"></i>Saving Goals</a></li>
                        <li><a class="icon-blue" href="#blockcard"><i class="icon-block"></i>Lock / Unlock</a></li>
                        <li><a class="icon-blue" href="#resetpin"><i class="icon-reset"></i>Reset Pin</a></li>
                        <li><a class="icon-blue" href="#passbook"><i class="icon-passbook"></i>Digital Passbook</a>
                        </li>
                        <li><a class="icon-blue" href="#setlimits"><i class="icon-limits"></i>Set Limits</a></li>
                        -->
                        <li><a class="icon-blue" href="#profile"><i class="icon-profile"></i>Edit Profile</a></li>
                        
                        <li style="margin-bottom: -4px;"><a class="icon-blue" data-ng-click="logout()"><i class="icon-logout"></i>Logout</a></li>

                    </ul>
                </div>
       </div>
      
    </div>  
</div>

<div class="col-xs-12 no-padding dash-subheader">
        <div class="col-xs-9">
         
            <div class="dash-ver-line" data-ng-click="fliterClick('recharge')">
                 <a href="#/home">              
                <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/recharge-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Recharge card</div>
                </li>
                </ul>
                </a>
            </div>
            <div class="dash-ver-line" data-ng-click="fliterClick('passBook')">
                <a href="#passbook">
                <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/passbook-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Digital Passbook</div>
                </li>
                </ul>
                </a>
            </div>
            <div class="dash-ver-line" data-ng-click="fliterClick('savingGoals')">
              <a href="#savings">
               <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/savings-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Saving Goals</div>
                </li>
                </ul>
                </a>
            </div>
            <div class="dash-ver-line" data-ng-click="fliterClick('setLimits')">
                  <a href="#setlimits">
                 <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/limits-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Set Limits</div>
                </li>
                </ul>
                </a>
            </div>
            <div class="dash-ver-line" data-ng-click="fliterClick('block')">
                  <a href="#blockcard">
                 <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/lock-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Lock / UnLock</div>
                </li>
                </ul>
                </a>
            </div>
            <div class="dash-ver-line" data-ng-click="fliterClick('resetPin')">
                 <a href="#resetpin">
                <ul class="subhead-ul">
                   <li class="subhead-li">
                    <img src="images/header/reset-blue.png">
                </li> 
                    <li class="subhead-li">
                    <div class="subhead-text">Reset Pin</div>
                </li>
                </ul>
                </a>
            </div>
        </div>
        <div class="col-xs-3" style="padding-right:0px;">
           <div class="col-xs-6 subhead-right">
                 <a href="#requestcard">
                <div class="subhead-textr">Request Card</div>
               </a>
           </div>
              <div class="col-xs-6 subhead-right">
                <a href="#activatecard">
               <div class="subhead-textr">Activate Card</div>
                  </a>
           </div>
        </div>
    </div>
</div>
