<style>
    .toBeassigned {
        background-color: #ff8181 !important;
    }
    
    .noAddress {
        background-color: #f9c95c;
    }
    
    .complete {
        background-color: #8be28b;
    }
    
    .blocked {
        border: 5px solid red;
    }
</style>
<div class="row" style="">
    <div data-ng-click="getKids()" class="col-xs-3">
        <h2>Users</h2></div>
    <div data-ng-click="getCards()" class="col-xs-3">
        <h2>Cards</h2></div>

    <div class="col-xs-3">
        <h2>Total:{{pmc_users.length}} </h2></div>

</div>
<div data-ng-show="menu=='users'" class="well" data-ng-class="p.card_number==''?'toBeassigned':p.address_line_1==''?'noAddress':'complete'" style="margin:10px" data-ng-repeat="p in pmc_users">

    <div class="row" data-ng-class="p.is_locked==1?'blocked':''" style="text-align:left">
        <div class="col-xs-3">parents_child_id:{{p.parents_child_id}}</div>
        <div class="col-xs-3">child_id:{{p.child_id}}</div>
        <div class="col-xs-3">wizkid_name:{{p.wizkid_name }}</div>
        <div class="col-xs-3">full name:{{p.full_name}}</div>

        <div class="col-xs-3">email:{{p.email}}</div>
        <div class="col-xs-3">parents_id:{{p.parents_id}}</div>
        <div class="col-xs-3">card_number:<a data-ng-click="assignCard(p.child_id,p.parents_id )" data-ng-if="p.card_number==''" class="btn btn-xs btn-primary">Assign Card</a>{{p.card_number }}</div>
        <div class="col-xs-3">card_pin:{{p.card_pin }}</div>
        <div class="col-xs-3">transactions_per_day:{{p.transactions_per_day }}</div>
        <div class="col-xs-3">amount_per_transaction:{{p.amount_per_transaction }}</div>
        <div class="col-xs-3">address_line_1:{{p.address_line_1 }}</div>
        <div class="col-xs-3">address_line_2:{{p.address_line_2 }}</div>
        <div class="col-xs-3">city: {{p.city }}</div>
        <div class="col-xs-3">state: {{p.state }}</div>
        <div class="col-xs-3">pin: {{p.pin }}</div>
        <div class="col-xs-3">is_locked: <a data-ng-if="p.is_locked==0" data-ng-click="lockCard(p.parents_child_id)" class="btn btn-xs btn-success">Lock card</a><a data-ng-click="unlockCard(p.parents_child_id)" data-ng-if="p.is_locked==1" class="btn btn-xs btn-danger">Unlock Card</a></div>
        <div class="col-xs-3">locked_reason: {{p.locked_reason }}</div>
        <div class="col-xs-3"><a data-ng-click="openReceiveModal(p)" class="btn btn-xs btn-success">Simulate Receive</a></div>
        <div class="col-xs-3"><a data-ng-click="openSpendModal(p)" class="btn btn-xs btn-success">Simulate Spend</a></div>


    </div>
</div>

<div data-ng-show="menu=='cards'" class="well" style="margin:10px">
    <div class="row" style="">
        <div class="col-xs-3">card_number</div>
        <div class="col-xs-3">card_pin</div>
        <div class="col-xs-3">parents_user_id</div>
        <div class="col-xs-3">is_linked</div>



    </div>
    <div class="row" style="" data-ng-repeat="c in cards">
        <div class="col-xs-3">{{c.card_number }}</div>
        <div class="col-xs-3">{{c.card_pin }}</div>
        <div class="col-xs-3">{{c.parents_user_id }}</div>
        <div class="col-xs-3">{{c.is_linked }}</div>



    </div>
</div>





<div class="modal fade" id="receive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Type of transaction: {{type}}</h4>
            </div>
            <div class="modal-body">
                <input type="number" placeholder="Amount" class="form-control" data-ng-model="amount">
                <input type="text" placeholder="Vendor" class="form-control" data-ng-model="vendor">
                <input type="text" placeholder="Transaction Id" class="form-control" data-ng-model="txid">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button data-ng-click="addTransaction()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>