<style>
    .profile-page {
        width: 100%;
        background: #def2fe;
        margin: 0px;
    }
    
    .profile-data {
        background: #FFFFFF;
        padding: 0px 50px;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        margin-bottom: 50px;
    }
    
    .profile-header {
        color: #3897D3;
        font-family: 'Dosis SBold';
        font-size: 36px;
        padding: 20px 0px 0px;
    }
    
    .profile-form {
        padding: 0px;
    }
    
    .profile-section {
        margin: 30px 0px;
        border: 2px solid #e5e5e5;
    }
    
    .profile-subheader {
        color: #3897D3;
        font-family: 'Dosis SBold';
        font-size: 22px;
    }
    
    .grey-row {
        background: #e5e5e5;
        padding: 10px 0px;
    }
    
    .heading-text {
        color: black;
        font-family: 'Dosis SBold';
        font-size: 22px;
        text-align: left;
    }
    
    .update-text {
        color: #e74d3b;
        font-family: 'Dosis Book';
        font-size: 18px;
        text-align: right;
        padding-right: 30px;
        padding-top: 4px;
    }
    
    .update-btn-img {
        margin-top: -3px;
    }
    
    .form-details {
        font-family: 'Dosis Book';
        font-size: 20px;
        color: #ababab;
        text-align: left;
        padding: 30px 0px;
    }
    
    .text-blue {
        color: #3897D3;
        padding-left: 5px;
    }
    
    .radio-profile {
        float: left;
    }
    
    .gender-label {
        font-family: 'Dosis Book' !important;
        font-size: 20px !important;
        margin: 10px 0px;
        padding-top: 5px;
    }
</style>


<pmc-header></pmc-header>

<body>

    <section class="row profile-page">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-xs-12 text-center profile-data">
            <div class="col-xs-12 profile-header">Profile Page</div>
            <div class="col-xs-12 profile-subheader">
                View and edit your details
            </div>

            <div class="col-xs-12 profile-form">

                <div class="row profile-section">
                    <div class="col-xs-12 grey-row no-padding">
                        <div class="col-xs-6">
                            <div class="heading-text">
                                Parents Details
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="update-text">
                                <img class="update-btn-img" src="images/update-btn.png"> Update
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 form-details">
                            Name : <span class="text-blue">{{p[0].full_name}}</span>
                        </div>
                        <div class="col-xs-6 form-details">
                            Mobile No. : <span class="text-blue">{{p[0].mobile_number }}</span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="radio-profile">
                            <input class="test-input radio-input" type="radio" id="radio1" name="radio-category" checked/>
                            <label class="gender-label radio-label" for="radio1">{{p[0].gender }}</label>
                        </div>
                    </div>
                </div>


                <div class="row profile-section">
                    <div class="col-xs-12 grey-row no-padding">
                        <div class="col-xs-6">
                            <div class="heading-text">
                                Parents Login Details
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="update-text">
                                <img class="update-btn-img" src="images/update-btn.png"> Update
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 form-details">
                            Email : <span class="text-blue">{{p[0].email }}</span>
                        </div>
                        <div class="col-xs-6 form-details">
                            Password : <span class="text-blue">&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;&#42;</span>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat="kid in p">
                    <div class="row profile-section">
                        <div class="col-xs-12 grey-row no-padding">
                            <div class="col-xs-6">
                                <div class="heading-text">
                                    Kids Details {{$index}}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="update-text">
                                    <img class="update-btn-img" src="images/update-btn.png"> Update
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 form-details">
                                Child Name : <span class="text-blue">{{kid.wizkid_name  }}</span>
                            </div>
                            <div class="col-xs-6 form-details">
                                Kids Birth Date : <span class="text-blue">{{kid.birthdate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row profile-section">
                        <div class="col-xs-12 grey-row no-padding">
                            <div class="col-xs-6">
                                <div class="heading-text">
                                    Shipping Details for Kid {{$index}}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="update-text">
                                    <img class="update-btn-img" src="images/update-btn.png"> Update
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-6 form-details">
                                Lane 1 : <span class="text-blue">{{kid.address_line_1}}</span>
                            </div>
                            <div class="col-xs-6 form-details">
                                Lane 2 : <span class="text-blue">{{kid.address_line_2}}</span>
                            </div>
                            <div class="col-xs-6 form-details">
                                City : <span class="text-blue">{{kid.city}}</span>
                            </div>
                            <div class="col-xs-6 form-details">
                                State : <span class="text-blue">{{kid.state}}</span>
                            </div>
                            <div class="col-xs-12 form-details">
                                Pin Code : <span class="text-blue">{{kid.pin}}</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </section>
</body>

<pmc-footer></pmc-footer>