<style>
.request-money-body{
        margin: 4px 0px 0px;
    background-image: url('images/request-money-bg.png');
    background-repeat: no-repeat;
    padding: 5em 6em;
    } 
    .shadow-div{
        -webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    }
    .blue-bg{
        background:#2684bf;
        padding: 0;
        border-radius: 10px 10px 0px 0px;
    }
    .blue-bg-card{
        background:#2684bf;
        padding: 0;
    }
    .bal-heading{
           color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 35px;
    padding: 1em 0em 0em;
    text-align: center;
            text-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.64);
    }
    .bal-subheading{
            color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 26px;
    padding: 0.3em 0em 0.5em;
    text-align: center;
    }
    .req-money-div{
           color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 19px;
    text-align: center;
    background: #3897d3;
    max-width: 180px;
    padding: 5px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 2em;
    }
     .card-details{
     color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 24px;
    padding: 10px 0px 20px;
    }
    .ask-parents{
        color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 26px;
    }
    .blue-money-container{
          background: #3897d3;
    padding: 25px 0px;
    border-radius: 10px;
    }
    .req-mny-btn{
           background: #e54d39;
    color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 22px;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    }
     .req-mny-btn:hover{
        box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);
    background: #e54d39 !important;
    color: #FFFFFF;
    cursor: pointer;
}
    .ask-relatives{
        background: #cf7e15;
        color: #FFFFFF;
        font-size: 26px;
         font-family: 'Dosis Medium';
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        padding: 10px 0px;
    }
    .or-section > .child-text{
   color: #3897d3;
    font-size: 24px;
    font-family: 'Dosis Medium';
    margin-top: -57px;
    background: #FFFFFF;
    width: 50px;
    margin-bottom: 20px;
    }
.child-line{
          width: 100%;
    border-top-color: #c3e0f2;
    margin: 40px 0px;
}
    .req-mny-form{
        background: #ef9724;
        font-size: 24px;
        font-family: 'Dosis Book';
        color: #FFFFFF;
        text-align: left;
        border-radius: 0px 0px 10px 10px;
    }
    .form-padding{
        padding: 20px;
    }
    .text-input-child{
        width: 220px;
    margin-left: 10px;
    padding-left: 10px;
    color: #ef9724;
    border: 2px solid #d28118;
    }
    .msg-parents{
            border-radius: 0;
    border: 2px solid #d28118;
    font-size: 24px;
    font-family: 'Dosis Book';
    color: #ef9724;
    margin: 0px 10px;

    }
    .add-more-btn{
          background: #FFFFFF;
    color: #3897d3;
    font-family: 'Dosis Medium';
    font-size: 22px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    }
     .add-more-btn:hover{
        box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);
    background: #FFFFFF !important;
    color: #3897d3;
    cursor: pointer;
}
    .plus-sign{
       font-weight: 900;
    font-size: 35px;
    line-height: 0.5em;
    padding: 0px 5px;
    }
</style>
<body>
  <section class="row child-header">
        
        <div class="col-xs-5">
          <a href="#childhome">
                <img class="header-logo-left" src="images/pmc-scroll-logo.png" alt="Pockett Money Card Logo">
            </a>
        </div>
        <div class="col-xs-7">
                        
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/your-balance-blue.png">
               <a href="#yourbalance">Your Balance</a> 
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/saving-goals-blue.png">
                <a href="#childgoals">Saving Goals</a>
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/request-money-blue.png">
                <a href="#requestmoney">Request Money</a>
            </div>
            <div class="col-xs-3">
                <div class="login-btn center-block">
                   <img class="header-key" src="images/login-key.png">
                    Login
                </div>
            </div>
            
        </div>
        
    </section>
    
    <section class="row request-money-body">
      
          <div class="col-xs-12 no-padding shadow-div">
             <div class="col-xs-12 blue-bg">
                <div class="col-xs-12 bal-heading">
                   <img src="images/req-money-big.png" style="margin: -10px 9px 0px 0px;">Request Money   
                </div>
                         
          <div class="col-xs-12 bal-subheading">
              You can also request money from your loved ones
          </div>
          <div class="col-xs-12">
           <div class="hr-div center-block">
               <hr style="margin-top: 15px; width: 85%;"/>
           </div>            
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                 <div class="card-details" style="float:left;">
                       Your balance
                <span>Rs 900</span>
                   </div>  
             
            </div>
            <div class="col-xs-6">
                <div class="card-details" style="float:right;">
                    Card No : 1234  5678  9123  4567
                   </div>
            </div>
        </div>
        </div>
         <div class="col-xs-12" style="background:#FFFFFF; padding-top:60px; padding-bottom:70px; border-radius: 0px 0px 10px 10px;">
                
                <div class="col-xs-12 blue-money-container">
                   <div class="col-xs-12">
                       <div class="col-xs-8 ask-parents">
                        Request Money from your Parents Rs.
                        <input type="textbox" placeholder="0000" style="    width: 150px;
    margin-left: 10px;
    padding-left: 10px;
    color: #3897d3;">
                    </div>
                    <div class="col-xs-4">
                        <div class="req-mny-btn center-block">
                            Request Now
                        </div>
                    </div>
                   </div>
                    
                </div>
                
                <div class="col-xs-12 or-section no-padding">
                    <hr class="child-line"/>
                    <div class="child-text center-block">
                                             Or
                    </div>  
                </div>
                
                <div class="col-xs-12 no-padding">
                   <div class="ask-relatives">
                        Request Money from other relatives
                   </div>                   
                </div>
                <div class="col-xs-12 req-mny-form no-padding">
                   
                   <div class="col-xs-12 form-padding">
                       <div class="col-xs-2">
                           Request Rs
                       </div>
                       <div class="col-xs-10">
                           <input class="text-input-child" type="textbox" placeholder="0000" >
                       </div>  
                   </div>
                
                 <div class="col-xs-12 form-padding">
                     <div class="col-xs-2">
                          From
                     </div>
                     <div class="col-xs-3">
                          <input class="text-input-child" type="textbox" placeholder="Name">
                     </div>   
                 <div class="col-xs-3">
                          <input class="text-input-child" type="textbox" placeholder="Email id">
                     </div>  
                     <div class="col-xs-3">
                          <input class="text-input-child" type="textbox" placeholder="Mobile No.">
                     </div>                    
                   </div>
                   
                   <div class="col-xs-12 form-padding">
                         <div class="col-xs-2">
                          Message
                     </div>
                       <div class="col-xs-6">
                            <textarea class="form-control msg-parents" rows="3" placeholder="Enter your personal message"></textarea>
                       </div>                      
                       <div class="col-xs-4" style="padding: 35px;">
                          <div class="req-mny-btn center-block">
                           Send Request
                        </div>                           
                       </div>
                   </div>
                  
                </div>
                 
                 <div class="col-xs-12 no-padding" style="margin:20px 0px;">
                     <div class="add-people add-more-btn">
                        <span class="plus-sign">&#43;</span>
                         Add more people
                     </div>
                 </div>
        </div>
       
        </div>
        
        
        
    </section>
    
</body>
<pmc-footer></pmc-footer>