<pmc-header></pmc-header>

<body>
    <section class="reset-page">

        <section class="reset-form-section" data-ng-show="reset==1">
            <div class="col-lg-12 col-md-12 " style="padding-top:1em;">
                <ul class="reset-ul">
                    <li class="reset-li reset-img">
                        <img src="images/reset-pin.png">
                    </li>
                    <li class="reset-li">
                        <div class="reset-pin-header">Reset Pin</div>
                    </li>
                </ul>
                <div class="reset-pin-subhead">Reset your pin to a new pin</div>
            </div>

            <div class="col-lg-6 col-md-6 " data-ng-repeat="k in kids">
                <div class="pin-inner-block" style="width: 90%;">
                    <div class="col-lg-12 col-md-12  pin-top-block">
                        <span class="child-name">
                        {{k.wizkid_name}}
                    </span></br>
                        <span class="card-no-user">
                        Card no : {{k.card_number}}
                    </span>
                    </div>
                    <div class="col-lg-12 col-md-12  pin-below-block">
                        <form action="http://www.pockettmoneycard.com/backend/saveForm.php" method="post" style="margin-top:-1em;">
                            <div class="group" style="padding-bottom:10px;">
                                <input data-ng-model="k.old_pin" class="input-details" type="text" id="OldPin" name="oldpin" required />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="isEvent">Enter Old Pin</label>
                                <div class="verify-email">4 digit PIN provided in your kit</div>
                            </div>
                            <div class="group" style="padding-bottom:10px;">
                                <input data-ng-model="k.new_pin" class="input-details" type="text" id="NewPin" name="newpin" required />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="isEvent">Enter New Pin</label>
                            </div>
                            <div class="group" style="padding-bottom:5px; margin-top:-1em;">
                                <input data-ng-model="k.new_pin_2" class="input-details" type="text" id="ConfirmPin" name="confirmpin" required />
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="isEvent">Confirm New Pin</label>
                            </div>
                            <div class="next-margin center-align">
                                <a data-ng-click="resetPin($index,k.parents_child_id)" class="next-btn">Reset
             </a>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </section>


        <section class="thankyou-section" data-ng-if="isReset">
            <div class="col-lg-12 col-md-12  thank-div">
                <div class="reset-success-head">
                    Your Card PIN has been changed
                </div>
                <div class="reset-success-sub">
                    After receiving the card Activate it by reseting the pin online.
                </div>

                <div class="col-lg-12 col-md-12 " style="margin-top:-1em; padding:5em;">
                    <a href="#home" class="next-btn">Go to website
                 </a>
                </div>

            </div>
        </section>


    </section>
</body>
<pmc-footer></pmc-footer>