<style>
    .setlim-page {
        width: 100%;
        height: 100%;
        background: #def2fe;
    }
    
    .setlim-ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    .setlim-li {
        float: left;
        margin-left: 10px;
    }
    
    .setlim-img {
        padding-top: 12px;
    }
    
    .setlim-pin-header {
        color: #3897d3;
        font-size: 40px;
        font-family: 'Dosis SBold';
        text-align: center;
    }
    
    .setlim-pin-subhead {
        color: #3897d3;
        font-size: 20px;
        font-family: 'Dosis Medium';
        text-align: center;
        padding-left: 20px;
    }
    
    .setlim-inner-green {
        background: #FFFFFF;
        border: 2px solid #7ed321;
        border-radius: 10px;
        display: inline-block;
        margin-top: 3em;
        margin-bottom: 1em;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        width: 600px;
    }
    
    .setlim-card-top {
        background: #e5e5e5;
        display: inline-block;
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        padding: 10px 0px;
    }
    
    .setlim-card-below {
        background: #FFFFFF;
        display: inline-block;
        padding: 1em;
        border-radius: 0px 0px 10px 10px;
    }
    
    .setlim-heading {
        color: #3897d3;
        font-size: 24px;
        font-family: 'Dosis SBold';
        text-align: center;
    }
    
    .limits-label {
        margin: 0;
    }
    
    .limits-label:before {
        background-color: #3897d3 !important;
    }
    
    .tran-day-style {
        color: #a1a1a1;
        font-size: 20px;
        font-family: 'Dosis Medium';
        padding-left: 7px;
        padding-top: 5px;
        line-height: 1.1em;
    }
</style>
<pmc-header></pmc-header>

<body>

    <section class="setlim-page">

        <section class="setlim-card">
            <div class="col-lg-12 col-md-12" style="padding-top:1em;">
                <ul class="setlim-ul">
                    <li class="setlim-li setlim-img">
                        <img src="images/setlimits-blue.png">
                    </li>
                    <li class="setlim-li">
                        <div class="setlim-pin-header">Set Limits</div>
                    </li>
                </ul>
                <div class="setlim-pin-subhead">Set Limits on your child card instantly</div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="setlim-inner-green">
                    <div class="setlim-card-top">
                        <div class="setlim-heading">
                            Transactions Per Day
                        </div>
                    </div>
                    <div class="col-xs-12 setlim-card-below">
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="tpd" class="test-input radio-input" type="radio" id="trans1" value="1" name="radio-category1" />
                                <label class="limits-label radio-label" for="trans1"></label>
                            </div>
                            <div class="tran-day-style">1</div>
                        </div>
                        <div class="col-xs-2">

                            <div class="radio-profile">
                                <input data-ng-model="tpd" value="2" class="test-input radio-input" type="radio" id="trans2" name="radio-category1" />
                                <label class="limits-label radio-label" for="trans2"></label>
                            </div>
                            <div class="tran-day-style">2</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="tpd" value="3" class="test-input radio-input" type="radio" id="trans3" name="radio-category1" />
                                <label class="limits-label radio-label" for="trans3"></label>
                            </div>
                            <div class="tran-day-style">3</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="tpd" value="4" class="test-input radio-input" type="radio" id="trans4" name="radio-category1" />
                                <label class="limits-label radio-label" for="trans4"></label>
                            </div>
                            <div class="tran-day-style">4</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="tpd" value="5" class="test-input radio-input" type="radio" id="trans5" name="radio-category1" />
                                <label class="limits-label radio-label" for="trans5"></label>
                            </div>
                            <div class="tran-day-style">5</div>
                        </div>
                        <div class="col-xs-1">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="setlim-inner-green">
                    <div class="setlim-card-top">
                        <div class="setlim-heading">
                            Amount Per Transaction
                        </div>
                    </div>
                    <div class="col-xs-12 setlim-card-below">
                        <div class="col-xs-1">

                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="apt" value="100" class="test-input radio-input" type="radio" id="amount1" name="radio-category" />
                                <label class="limits-label radio-label" for="amount1"></label>
                            </div>
                            <div class="tran-day-style">100</div>
                        </div>
                        <div class="col-xs-2">

                            <div class="radio-profile">
                                <input data-ng-model="apt" value="200" class="test-input radio-input" type="radio" id="amount2" name="radio-category" />
                                <label class="limits-label radio-label" for="amount2"></label>
                            </div>
                            <div class="tran-day-style">200</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="apt" value="300" class="test-input radio-input" type="radio" id="amount3" name="radio-category" />
                                <label class="limits-label radio-label" for="amount3"></label>
                            </div>
                            <div class="tran-day-style">300</div>
                        </div>
                        <div class="col-xs-2">
                            <div class="radio-profile">
                                <input data-ng-model="apt" value="400" class="test-input radio-input" type="radio" id="amount4" name="radio-category" />
                                <label class="limits-label radio-label" for="amount4"></label>
                            </div>
                            <div class="tran-day-style">400</div>
                        </div>
                        <div class="col-xs-2 no-padding">
                            <div class="radio-profile">
                                <input data-ng-model="apt" value="500" class="test-input radio-input" type="radio" id="amount5" name="radio-category" />
                                <label class="limits-label radio-label" for="amount5"></label>
                            </div>
                            <div class="tran-day-style">More then
                                <br/>500</div>
                        </div>
                        <div class="col-xs-1">

                        </div>


                    </div>
                </div>
            </div>


        </section>
    </section>
</body>
<pmc-footer></pmc-footer>