</div>
<div data-ng-init="isForgot=false" role="tabpanel" class="tab-pane" style="background-color: #FEF23C; border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;" data-ng-class="isLogin?'active':''" id="login">
    <div class="row" data-ng-show='!isForgot'>
        <div class="col-lg-12" style="
    padding-left: 30px; padding-right: 30px;">
            <span data-ng-if="isError" class="error-msg">{{errorMessage}}</span>
        </div>
        <div class="col-xs-12" style="
    padding-bottom: 5px;    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;">
            <input id="usernameLogin" type="text" class="form-control" data-ng-model="customer.wizkid_name" placeholder="USERNAME*">
        </div>
        <div class="col-xs-12" style="padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;">
            <input id="passwordLogin" type="{{showPassword?'text':'password'}}" data-ng-model="customer.password" class="form-control" placeholder="PASSWORD*" style="color:#1697B6">
            <label style=" float:left; font-weight: normal; color: #867B79; font-family: 'Gothaam Medium';"><a data-ng-click='isForgot=true'>Forgot your password</a></label>
        </div>

        <div class="col-xs-12 text-center"><a data-ng-click="login()" id="loginButton" class="load-tab-btn load-tab-btn-2 load-tab-btn-2h">LOGIN</a><span data-ng-if="showLoader" class="error-msg">&nbsp;Please wait...</span></div>

        <div class="col-xs-12 text-center" style="color:#CCBD22; font-family: 'Gothaam Medium'; padding-top:15px; padding-bottom:5px;"><small>By clicking on continue button you agree to our </small></br>
            <small>