<style>
    
    .your-balance-body{
        margin: 4px 0px 0px;
    background-image: url('images/your-balance.png');
    background-repeat: no-repeat;
    padding: 5em 6em;
    } 
    .shadow-div{
        -webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    }
    .blue-bg{
        background:#2684bf;
        padding: 0;
        border-radius: 10px 10px 0px 0px;
    }
    .blue-bg-card{
        background:#2684bf;
        padding: 0;
    }
    .bal-heading{
           color: #FFFFFF;
    font-family: 'Dosis SBold';
    font-size: 35px;
    padding: 1em 4em;
    text-align: right;
            text-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.64);
    }
    .req-money-div{
           color: #FFFFFF;
    font-family: 'Dosis Medium';
    font-size: 19px;
    text-align: center;
    background: #3897d3;
    max-width: 180px;
    padding: 5px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 2em;
    }
    .req-money-div:hover{
         box-shadow: 0 3px 6px rgba(0,0,0,0.2),0 3px 6px rgba(0,0,0,0.26);
    cursor: pointer;
    }
    .card-details{
     color: #FFFFFF;
    font-family: 'Dosis Book';
    font-size: 24px;
    padding: 20px 0px;
    }
    .bal-amount{
        float: left;
        margin-left: 40px;
        line-height: 1.6em;
    }
    .bal-number{
         color: #badbf0;
    font-family: 'Dosis SBold';
    font-size: 30px;
    }
    .light-blue-section{
         color: #badbf0;
    font-family: 'Dosis Book';
    font-size: 26px;
           background: #3897d3;
    }
    .bal-filters{
        background: #e5e5e5;
            z-index: 0;
    padding: 10px 0px 0px;
    }
     .filters-diff{
        color: #727272;
        font-size: 18px;
        font-family: 'Dosis SBold';
        padding: 7px 0px;
        cursor: pointer;
    }
    .filters-selected{
        border-bottom: 6px solid #3897d3;
        color: #3897d3;
    }
    .money-spent{
        color: #33bd25;
        font-size: 20px;
        font-family: 'Dosis SBold';
        padding: 10px 0px;
        margin-top: 20px;
    }
    .money-recv{
        color: #ef9724;
        font-size: 20px;
        font-family: 'Dosis SBold';
        padding: 10px 0px;
        margin-top: 20px;
    }
    .green-container{
              background: #33bd25;
    padding: 40px 30px;
    border-radius: 10px;     
    }
    .org-container{
              background: #ef9724;
    padding: 40px 30px;
    border-radius: 10px;     
    }
    .money-date{
            color: #FFFFFF;
    font-size: 24px;
    font-family: 'Dosis SBold';
        text-align: left;
    }
    .owner-details{
          color: #FFFFFF;
    font-size: 24px;
    font-family: 'Dosis Medium';
        text-align: left;
    }
    .trans-img-margin{
            margin-top: -7px;
    }
    .trans-status{
          color: #FFFFFF;
    font-size: 24px;
    font-family: 'Dosis Medium';
    }
    .trans-status > .succ-span, .trans-status > .unsucc-span{
        margin-left: 15px;
    }
    .succ-span{
            background: #FFFFFF;
    color: #33bd25;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Dosis SBold';
    }
</style>
<body>
  
   <section class="row child-header">
        
        <div class="col-xs-5">
            <a href="#childhome">
                <img class="header-logo-left" src="images/pmc-scroll-logo.png" alt="Pockett Money Card Logo">
            </a>
        </div>
        <div class="col-xs-7">
                        
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/your-balance-blue.png">
               <a href="#yourbalance">Your Balance</a> 
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/saving-goals-blue.png">
                <a href="#childgoals">Saving Goals</a>
            </div>
            <div class="col-xs-3 header-icons-div">
                <img class="header-icons" src="images/request-money-blue.png">
                <a href="#requestmoney">Request Money</a>
            </div>
            <div class="col-xs-3">
                <div class="login-btn center-block">
                   <img class="header-key" src="images/login-key.png">
                    Login
                </div>
            </div>
            
        </div>
        
    </section>
   <section class="row your-balance-body">
      
          <div class="col-xs-12 no-padding shadow-div">
            <div class="col-xs-12 blue-bg">
            <div class="col-xs-8 bal-heading">
                 <img src="images/your-bal-big.png" style="margin: -10px 9px 0px 0px;">Your Balance
            </div>
            <div class="col-xs-4">
                <div class="req-money-div center-block">
                   <img src="images/request-money-white.png"> Request Money
                </div>
            </div>
          
        </div>
        
            <div class="col-xs-12 light-blue-section no-padding">
           <div class="col-xs-2"></div>
           <div class="col-xs-8">
               <ul>
                   <li class="bal-amount bal-text">
                   Your balance<br/> 
                   <span class="bal-number">Rs 1000</span></li>
                   <li class="bal-amount" style="padding-top: 37px;"> &#45; </li>
                   <li class="bal-amount">
                   Saving Goals<br/>
                   <span class="bal-number">Rs 100</span></li>
                   <li class="bal-amount" style="padding-top: 37px;"> &#61; </li>
                   <li class="bal-amount" style="color:#FFFFFF; line-height: 1.5em;">
                   Effective balance<br/>
                   <span class="bal-number" style="font-size: 36px; color:#FFFFFF;">Rs 900</span></li>
               </ul>
           </div>
           <div class="col-xs-2"></div>           
       </div>
        
            <div class="col-xs-12 blue-bg-card">
                <div class="col-xs-6">
                   <div class="card-details" style="float:left;">
                    Card No : 1234  5678  9123  4567
                   </div>                    
                </div> 
                <div class="col-xs-6">
                    <div class="card-details" style="float:right;">
                    Valid Upto : 12/2018
                   </div>                    
                </div>                
            </div>
            
            <div class="col-xs-12 no-padding bal-filters">            
                <div class="col-xs-4 no-padding">
             <div class="col-xs-4 filters-diff filters-diff-all filters-selected" data-ng-click="fliterClick('all',trans=1)">
                 All
             </div>
             <div class="col-xs-4 filters-diff filters-diff-recv" data-ng-click="fliterClick('recv',trans=2)">
                 Received
             </div>
             <div class="col-xs-4 filters-diff filters-diff-spent " data-ng-click="fliterClick('spent',trans=3)">
                 Spent
             </div>
        </div>
           <div class="col-xs-8"></div>
            </div>
            
            <div class="col-xs-12 no-padding" style="background:#FFFFFF; padding: 10px 0px 70px; border-radius: 0px 0px 10px 10px;">
               
               <section class="all-section" data-ng-show="trans==1">
                    <div class="col-xs-12">
                   <div class="money-spent center-block">
                    <img src="images/spent-green.png" style="margin-top: -6px;
">
                    Spent                       
                   </div>
                </div>
                <div class="col-xs-12 spent-div">
                   <div class="col-xs-12 green-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/succ-trans-white.png">  
                        Successful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
                
                 <div class="col-xs-12">
                   <div class="money-recv center-block">
                    <img src="images/recv-org.png" style="margin-top: -6px;
">
                   Received                  
                   </div>
                </div>
                <div class="col-xs-12 recv-div">
                   <div class="col-xs-12 org-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/succ-trans-white.png">  
                        Successful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
                 
                 <div class="col-xs-12">
                   <div class="money-recv center-block">
                    <img src="images/recv-org.png" style="margin-top: -6px;
">
                   Received                  
                   </div>
                </div>
                <div class="col-xs-12 recv-div">
                   <div class="col-xs-12 org-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/unsuc-trans-white.png">  
                        Unsuccessful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
               </section>
               <section class="recv-section" data-ng-show="trans==2">
                       <div class="col-xs-12">
                   <div class="money-recv center-block">
                    <img src="images/recv-org.png" style="margin-top: -6px;
">
                   Received                  
                   </div>
                </div>
                <div class="col-xs-12 recv-div">
                   <div class="col-xs-12 org-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/succ-trans-white.png">  
                        Successful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
                 
                 <div class="col-xs-12">
                   <div class="money-recv center-block">
                    <img src="images/recv-org.png" style="margin-top: -6px;
">
                   Received                  
                   </div>
                </div>
                <div class="col-xs-12 recv-div">
                   <div class="col-xs-12 org-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/unsuc-trans-white.png">  
                        Unsuccessful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
               </section>
               
               
               <section class="spent-section" data-ng-show="trans==3">
                      <div class="col-xs-12">
                   <div class="money-spent center-block">
                    <img src="images/spent-green.png" style="margin-top: -6px;
">
                    Spent                       
                   </div>
                </div>
                <div class="col-xs-12 spent-div">
                   <div class="col-xs-12 green-container">
                        <div class="col-xs-3 money-date">
                        6 June,  2016
                    </div>
                    <div class="col-xs-4 owner-details">
                        Vendor name : Baskin Robin
                    </div>
                    <div class="col-xs-5 trans-status">
                        <img class="trans-img-margin" src="images/succ-trans-white.png">  
                        Successful Transaction of 
                        <span class="succ-span">Rs. 100</span>
                    </div>
                   </div>
                   
                </div>
               </section>
               
               
               
               
                
                
            </div>
       </div>
       
   </section>
    
</body>
<pmc-footer></pmc-footer>